@import './MessageFeed.scss';
@import './MessageUser.scss';

.message-container {
	padding: 2rem;
	display: flex;
	max-width: 1920px;
	width: 100%;

	.message-user {
		width: 40%;
	}

	.message-feed {
		width: 60%;
	}
}
