@import '../../../styles/mixins';

.header {
	// This is for fixed nav to be removed.
	// border: 1px solid red;
	@include spaceForNav;  
	// Consider using sticky to negate the need for a spacer fix
	// Frank

	.cta-container {

		display: flex;
		justify-content: space-between;
		margin: 85px 55px 125px 55px;
		@media #{$mobile} {
			// border: 1px solid red;
			display: block;
			margin: 0;
		}

		.cta {
			width: 50%;
			text-align: left;
			margin-left: 10%;
			@media #{$mobile} {
				width: 100%;
			}

			.cta-title {
				text-align: left;
				margin-top: 110px;
				font-size: 40px;
				font-weight: 500;
				letter-spacing: 0.06em;
				line-height: 1.4;
				color: $chillFi-purple;
				height: auto;

				@media #{$mobile} {
					// border: 1px solid red;
					margin: 0;
					max-width: 100%;
				}
			}
			p {
				margin: 5% 0 0 0;
				font-size: 24px;
				letter-spacing: 0.12em;
				line-height: 1.8;
				color: $erudite-purple;

				@media #{$mobile} {
					max-width: 100%;
					margin: 10px 0;
				}
			}
			button {
				@include buttonStyler($chillFi-purple, $snow-white, none);
				margin-top: 29px;
				font-size: 20px;
				height: 70px;
				padding: 0.5rem 1rem;
				width: 270px;
			}
		}
		.header-img-container {
			width: 50%;
			display: flex;
			justify-content: flex-start;
			img {
				width: 85%;
				object-fit: contain;
			}
		}
	}
	.values {
		margin-bottom: 5.5%;
		p {
			color: $machiavellian;
			font-size: 1.5rem;
			font-weight: 500;
			letter-spacing: 0.13em;
			margin-bottom: 17px;
			padding-left: 50px;
			text-align: center;
		}
		.value-tiles {
			display: flex;

			justify-content: space-between;
			width: 86%;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 5rem;
			padding-top: 1.25rem;

			div {
				border-radius: 0.25rem;
				padding: 18px 0;
				font-size: 24px;
				letter-spacing: 0.12em;
				color: $snow-white;
				width: 15.3%;
				height: 64px;
				margin: auto;
				text-align: center;
			}
			.tenacity {
				background: $ruby-enchantment;
			}
			.ingenuity {
				background: $pikachu;
			}
			.growth {
				background: $luigi;
			}
			.diligence {
				background: $mutant-turtle;
			}
			.resilience {
				background: $mocha;
			}
			.compassion {
				background: $scampi;
			}
		}
	}
	.what-we-do {
		padding: 2% 0;
		background-image: url("../assets/LandingPage/GreyRectangle.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			text-align: center;
			font-size: 48px;
			letter-spacing: 0.13em;
		}
		.learn-more-container {
			margin-top: 58px;
			max-width: 100%;
			display: flex;
			justify-content: space-evenly;
			img {
				width: 240px;
				height: 240px;
				border-radius: 50%;
				margin-bottom: 50px;
			}
			.crowdFunding,
			.opportunities,
			.pathways {
				display: inline-block;
				text-align: center;
				h3 {
					font-size: 23px;
					letter-spacing: 0.03em;
					margin-bottom: 26px;
				}
				a {
					font-size: 22px;
					font-weight: 500;
					text-decoration: none;
					color: $chillFi-purple;
				}
			}

			div {
				display: flex;
				justify-content: center;
				p {
					color: $snow-white;
					position: absolute;
					align-self: center;
					font-weight: 1.4;
					font-size: 2.1rem;
				}
				.donate-text {
					color: $black-void;
				}
			}
			.hovered {
				display: block;
			}
		}
	}
}


.dark-mode {
	.cta-container {
		.cta {
			.cta-title {
				color: $dark-electric-blue;
			}
			p {
				color: $maastricht-blue;
			}
			button {
				background-color: $maastricht-blue;
				color: $snow-white;
				&:hover {
					background-color: $scampi;
					color: $maastricht-blue;
					mix-blend-mode: color-dodge;
				}
			}
		}
	}
	.values {
		p {
			color: $abatross;
		}
		.value-tiles {
			div {
				color: $machiavellian;
			}
		}
	}
	.what-we-do {
		background-image: none;
		background-color: $police-blue;
		.learn-more-container {
			.crowdFunding, .opportunities, .pathways { 
				a {
					color: $saphire-mox;
				}
			}
		}
	}
}

