@import '../../../styles/mixins';

.featured-project {
	display: flex;
	justify-content: space-around;
	background-color: #82c7b3;
	margin: 8.35% auto 10% auto;
	height: 730px;
	.section-title {
		// position: absolute;
		// left: 5.75%;
		margin: 2.45% auto auto 2.45%;
		width: auto;
		font-size: 42px;
		line-height: 152.31%;
		letter-spacing: 0.03em;
	}
	.phone {
		position: relative;
		top: 26%;
		margin-bottom: -6.5%;
		width: 30%;
		height: 93%;
	}
	.phone-left {
		// max-width: 28%;
		transform: rotate(-31deg);
	}
	.user-story {
		max-width: 31%;
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;
		.user-photo {
			// figma specs below
			// width: 403px;
			// height: 403px;
			width: 68%;
			height: 68%;
			object-fit: contain;
			margin: 0 auto 0 18%;
		}
		.user-info {
			font-size: 42px;
			margin: -3% 0 0 8%;
			line-height: 48px;
			letter-spacing: 0.05em;
		}
		p {
			margin: 5% auto 5% auto;
			letter-spacing: 0.06em;
			line-height: 180%;
			font-size: 15px;
			font-weight: bold;
			position: relative;
			left: 5%;
		}
	}
	.phone-right {
		position: relative;
		// bottom: 5%;
	}
}
