@import '../../../styles/mixins';

.FPContainer {
	margin: 150px 70px;

	
	.FPProjectList {
		display: flex;
		justify-content: space-between;
		.card {
			margin: 25px;
		}
	}

	h1 {
		line-height: 112.31%;
		font-size: 48px;
		letter-spacing: 0.06em;
	}

	// These styles are not actually running. 
	// Card styling has been moved to the card components -fm
	// .FPProjects { 
	// 	max-width: 480px;
	// 	margin: 0 20px;
	// 	margin-bottom: 60px;
	// 	text-align: center;
	// 	transition: 0.2s all ease-in-out;
	// 	&:hover {
	// 		cursor: pointer;
	// 		color: $ocean-blue;
	// 	}
	// 	img {
	// 		width: 100%;
	// 		height: 660px;
	// 		border-radius: 10px;
	// 		&:hover {
	// 			transform: scale(1.01);
	// 		}
	// 	}
	// 	h4 {
	// 		margin: 30px auto 0 auto;
	// 		max-width: 407px;
	// 		height: 80px;
	// 		font-size: 36px;
	// 	}
	// 	p {
	// 		font-size: 24px;
	// 		max-width: 405px;
	// 		height: 127px;
	// 		margin: 30px auto 0 auto;
	// 	}
	// }
}

.dark-mode {
	.FPContainer {

	}
}
