.register-container {
	background: $erudite-purple;
	color: $snow-white;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06em;
	height: 100%;
	font-size: 1.4rem;
	svg {
		font-size: 4rem;
		position: fixed;
		margin: 20px;
	}
	.errorText {
		color: red;
		font-style: italic;
		font-size: 1.5rem;
	}

	.errorBorder {
		color: red;
		border-radius: 5px;
		border: 2px solid red !important;

		&::placeholder {
			color: red;
		}
	}
	.register-container-left {
		min-height: 100vh;
		width: 100%;
		min-width: 320px;
		max-width: 800px;
		padding-bottom: 140px;
		padding-top: 100px;
		.register-form {
			width: 80%;
			max-width: 400px;
			margin: 0 auto;
			.register-third-party {
				margin: 0 auto;
				.register-welcome {
					text-align: center;
					color: $snow-white;
				}
				button {
					background: $snow-white;
					width: 100%;
					margin-top: 30px;
					height: 57px;
					border-radius: 8px;
					border: none;
					cursor: pointer;
					.register-button {
						display: flex;
						align-items: center;
						margin: 0 20px;
						img {
							margin-right: 20px;
							height: 40px;
							width: 40px;
						}
					}
				}
			}
			.register-middle {
				margin: 0 auto;
				padding: 40px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.register-Line {
					height: 1px;
					width: 40%;
					background: $snow-white;
				}
			}
			.register-local {
				margin: 0 auto;
				display: flex;
				flex-direction: column;

				.register-title {
					margin: 0 0 5px 0;
				}

				.register-mid {
					text-align: center;
					padding: 5px 0 0 0;
					p {
						font-style: italic;
					}
				}

				span {
					text-decoration: underline;
					font-style: italic;
					cursor: pointer;
				}

				.register-pass,
				.email-lable-container {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 30px 0 5px 0;
				}

				button {
					height: 50px;
					width: 50%;
					max-width: 200px;
					background: $ruby-enchantment;
					margin: 0 auto;
					margin-top: 40px;
					border: none;
					color: $snow-white;
					font-size: 2rem;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}

	.imgContainer {
		background-attachment: fixed;
		width: 100%;
		background-image: url('https://res.cloudinary.com/revitalize/image/upload/c_scale,q_auto:good,w_1200/v1570043579/AuthPages/Login_p3rdln.png');
		background-size: 100%;
		background-position-y: 25%;
		background-repeat: no-repeat;
		@media #{$tablet} {
			background-size: cover;
			background-position-y: unset;
			background-position-x: -50%;
		}
		@media #{$tablet-small} {
			display: none;
		}
	}
}
