.register-container {
	background: $erudite-purple;
	color: $snow-white;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06em;
	height: 100%;
	font-size: 1.4rem;
	.register-container-left {
		min-height: 100vh;
		padding-bottom: 140px;
		min-width: 525px;

		.revitalize-logo-container {
			width: 70px;
			text-align: center;
			margin: 10px 0 0 20px;
			img {
				width: 100%;
			}
		}
		.register-form {
			width: 80%;
			margin: 0 auto;

			.register-third-party {
				width: 65%;
				margin: 0 auto;

				.register-welcome {
					text-align: center;
					color: $snow-white;
				}

				button {
					width: 100%;
					margin-top: 30px;
					height: 50px;
					border-radius: 8px;
					border: none;
					background: $snow-white;
					cursor: pointer;

					.register-Button {
						display: flex;
						align-items: center;
						margin: 0 20px;
						img {
							margin-right: 20px;
							height: 40px;
							width: 40px;
						}
					}
				}
			}

			.register-Middle {
				width: 65%;
				margin: 0 auto;
				padding: 40px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.register-Line {
					height: 1px;
					width: 40%;
					background: white;
				}
			}

			.register-Local {
				width: 65%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;

				.register-title {
					margin: 0 0 5px 0;
				}

				.register-Mid {
					text-align: center;
					padding: 5px 0 0 0;
					p {
						font-style: italic;
					}
				}

				span {
					text-decoration: underline;
					font-style: italic;
					cursor: pointer;
				}



				.register-Pass {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 30px 0 5px 0;
				}

				button {
					height: 50px;
					background: $ruby-enchantment;
					width: 50%;
					margin: 0 auto;
					margin-top: 40px;
					border: none;
					color: $snow-white;
					font-size: 2rem;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}

	.imgContainer {
		background-attachment:fixed;
		width: 100%;
		background-image: url('../assets/AuthPages/Login.png');
		background-size: 100%;
		background-position-y: center;
		background-repeat: no-repeat;
	}
}
