.dashboard-sidebar {
	width: 25%;
	height: 100%;
	text-align: center;
	.sidebar-top {
		.user-picture {
			width: 164px;
			height: 164px;
			object-fit: contain;
			border-radius: 50%;
		}
		h3 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.44px;
		}
		h6 {
			color: $blue-valentine;
			text-align: right;
		}
		p {
			color: $machiavellian;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.08px;
		}
	}
	.dashboard-stats {
		color: $machiavellian;
		display: flex;
		justify-content: space-evenly;
		margin: 10% 0 5% 0;
		font-family: 'Roboto';
		p {
			font-size: 1.3rem;
			letter-spacing: 0.78px;
		}
	}
	.info-container {
		margin: 5% 0;
		font-family: 'Roboto';
		p {
			color: $mirage;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 0.96px;
		}
		span {
			font-size: 1.8rem;
			font-weight: 500;
			color: $machiavellian;
			line-height: 1.61;
			letter-spacing: 1.08px;
		}
		.info {
			display: flex;
			justify-content: space-between;
			.text {
				display: flex;
				flex-direction: column;
				text-align: left;
				span {
					max-width: 200px;
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				.text-value {
					font-family: 'Roboto';
					font-size: 2rem;
					letter-spacing: 1.2px;
					color: $machiavellian;
				}
			}
			.sidebar-icon-container {
				@include bottomBoxShadow;
				font-size: 3.2rem;
				color: $chillFi-purple;
				background-color: $franks-grey;
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				.sidebar-icon {
					padding: 10px;
				}
			}
		}
		.info.project-details-container {
			flex-direction: column;
			.text { 
				flex-direction: row;
				justify-content: space-between;
			}
			.progress-bar {
				width: 100%;
			}
		}
		.progress, .info {
			margin: 6% 0;
		}
	}
	.dashboard-sidebar-footer {
		display: flex;
		flex-direction: column;
		margin: 5% 0;
		h5 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.2px;
			margin-bottom: 5%;
		}
		.a-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			a {
				color: $blue-valentine;
				font-size: 1.6rem;
			}
			img {
				width: 66px;
				height: 66px;
				z-index: 1;
				// position: relative;
			}
			.count {
				// color: $ruby-enchantment;
				border-radius: 50%;
				height: 40px;
				width: 40px;
				background-color: $static-grey;
				padding: 2px;
				// margin-top: -7.5px;
				margin: -15px auto 0 auto;
				z-index: 10;
				position: relative;
				// text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				// font-weight: bold;
			}
		}
	}
}
.dark-mode {
	.sidebar-top {
		h3,
		h6,
		p {
			color: $snow-white;
		}
	}
	.dashboard-stats {
		color: $snow-white;
	}
	.info-container {
		p,
		span {
			color: $snow-white;
		}
		.info {
			.percent {
				color: $snow-white;
			}
		}
	}
	.dashboard-sidebar-footer {
		h5 {
			color: $snow-white;
		}
		.number {
			background-color: $snow-white;
			color: $black-void;
		}
		.a-container {
			.count {
				color: $black-void;
			}
		}
	}
}
