.basicDescriptionContainer {
    // border: 1px solid blue;
    margin-bottom: 89px;
    margin-left: 64px;
    max-width: 732px;
    height: 232px;
    background: #F9F8FD;
    box-shadow: 0px 2px 10px rgba(245, 242, 255, 0.2);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.06em;

    .descriptionInnerDiv {
        // margin: 48px 0 0 40px;
        // .projectStart {
        //     margin-top: 100px;
        // }
        padding: 48px 0 0 40px;
        
        .detailsFlex {
            display: flex;
            
            .basicDetails {
                display: flex;

                p {
                    margin-right: 21px
                }
            }
        }
        

        img {
            width: 26px;
            height: 26px;
            margin-right: 12px
        }

        p {
            margin-bottom: 22px
        }
    }
}