@import './ProjectDescription/Donate/Donate.scss';
@import './ProjectDescription/DetailedDescription/DetailedDescription.scss';
@import './ProjectDescription/ProjectPictures/ProjectPictures.scss';
@import './ProjectDescription/ProjectComments/ProjectComments.scss';

.project-page-container {
	@include spaceForNav;
	max-width: 1920px;
	border: 1px solid red;

	.singleProjectVectorContainer {
		max-width: 1645px;
		margin: 0 auto;
	
		.singleProjectVector {
			background: url('../assets/SingleProjectPage/vector.jpeg');
			height: 476px;
			background-position-x: right;
			background-position-y: center;
			background-size: 70%;
			background-repeat: no-repeat;

			@media #{$mobile} {
				background-size: 100%;
				background-size: cover;
				background-position-x: 25%;
				border: 1px solid red;
				height: 200px
            }

			.blueSquare {
				width: 30%;
				height: 100%;
				background: #544CBE;
				@media #{$mobile} {
					display: none
				}
				h1 {
					position: absolute;
					margin: 57px 0 0 2%;
					font-size: 300%;
					line-height: 74px;
					letter-spacing: 0.06em;
					color: #FFFFFF;
					z-index: 1
				}
				.blueVector {
					width: 100%;
					height: 100%;
					background: #544CBE;;
					transform-origin: bottom left;
					-ms-transform: skew(-30deg, 0deg);
					-webkit-transform: skew(-30deg, 0deg);
					transform: skew(-30deg, 0deg);
				}
			}	
		}
	}

	.project-page-flex {
		display: flex;
		max-width: 1645px;
		margin: 0 auto;
		border: 1px solid red;

		@media #{$mobile} {
			flex-direction: column
		}
	}
}
