@import './BasicDescription/BasicDescription.scss';

.detailedDescriptionContainer {
    width: 55%;
    z-index: 1;
    margin-top: -550px;

    @media #{$mobile} {
        margin-top: 0;
        margin-right: 0;
        width: 100%;
        
    }
    .detailedDescription {
        font-size: 2.6rem;
        line-height: 190.81%;
        letter-spacing: 0.06em; 
        width: 85%;

        @media #{$mobile} {
            font-size: 1.6rem;
            line-height: 212.31%;
            margin-top: 50px;
            padding: 0 5.5% 0 5.5%
        }
        

        span {
            font-size: 3.2rem;
            margin-right: 30px;

            @media #{$mobile} {
                font-size: 2.4rem;
                margin-right: 10px;
            }
        }

        strong {
            color: red;
            cursor: pointer
        }
    }

    .creatorProfile {
        margin-top: 60px;
        border-left: 7px solid #544CBE;
        background: #F9F8FD;
        letter-spacing: 0.06em;

        @media #{$mobile} {
            border-left: none;
        }

        .profile-center {
            display: flex;
            align-content: center;
            @media #{$mobile} {
                margin: 0 auto;
                width: 90%;
            }
        }

        

        h2 {
            font-size: 2.5rem;
            line-height: 27px;
            margin-bottom: 10px;

            @media #{$mobile} {
                font-size: 2.2rem;
                line-height: 20px;
            }
        }

        p {
            font-size: 1.5rem;
            @media #{$mobile} {
                font-size: 1.5rem;
                line-height: 17px;
            }
        }
        
        .profilePic {
            width: 120px;
            border-radius: 50%;
            margin: 32px;
            

            @media #{$mobile} {
                width: 35%;
                margin: 25px 25px 25px 0;
            }
        }

        .creatorInfo {
            margin: 35px 25px 25px 0;
            @media #{$mobile} {
                margin-top: 25px;
                width: 100%;
            }
            .email {
                display: flex;
                flex-wrap: nowrap;
                align-content: center;
                margin-top: 17px;

                h2 {
                    font-size: 2rem;
                    line-height: 16px;

                    @media #{$mobile} {
                        font-size: 1.5rem;
                        line-height: 16px;
                    }
                }

                img{
                    max-height: 18px;
                    width: 20%;
                    margin-right: 6px;
                    
                    @media #{$mobile} {
                        width: 8%;
                    }
                }
            }
        }
    }
}