@import './TabComponent/Lists.scss';
@import './TabComponent/Tabs.scss';

.dashboard-main {
	width: 100%;
	.dashboard-main-body {
		line-height: 3;
	}
}
.dashboard-main.section {
	hr {
		margin-top: -3px;
	}
}
.dashboard-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
