// .slideshow {
//   position: relative;
//   display: flex;
//   align-items: center;

//   img {
//     width: 100%;
//     padding: 10px;
//     border-radius: 20px;
//   }

//   .btns {
//     position: absolute;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     padding: 0 15px;

//     .prev,
//     .next {
//       cursor: pointer;
//       color: white;
//       font-weight: bold;
//       font-size: 2em;
//       transition: 0.6s ease;
//       border-radius:10px;
//       padding: 13px;

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.8);
//       }
//     }
//   }
// }

// .none {
//   display: none;
// }

// /* Fading animation */
// .fade {
//   -webkit-animation-name: fade;
//   -webkit-animation-duration: 1.5s;
//   animation-name: fade;
//   animation-duration: 1.5s;
// }

// @-webkit-keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }

// @keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }

.slideshow {
  overflow: hidden;
  width: 100%;

  .holder {
    display: flex;
    transition: 0.3s;
  }

  img {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
  }
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
    height: 10px;
    width: 10px;
  }
}