section.dashboard-dash-nav.section {
    background-color: $silver-lining;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin-bottom: -6px;
    .tab {
        color: $black-void;
        padding: 10px 60px;
        @media #{$tablet} {
            padding: 10px 30px;   
        }
    }
    .unavailable-tab.tab {
        color: $static-grey;
        &:hover {
            cursor: none;
        }
    }
    .active-tab.tab {
        color: $chillFi-purple;
        background-color: $snow-white;
        // border: 1px solid $static-grey;
        border-top: 1px solid $static-grey;;
        border-right: 1px solid $static-grey;;
        border-left: 1px solid $static-grey;;
        border-bottom: 1px solid white;

    }
}
.dark-mode {
    section.dashboard-dash-nav.section {
        .tab {
            color: $snow-white;
        }
        .active-tab {
            color: $black-void;
        }
    }
}
