.form-2 {
	.address-details {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		margin: 30px 0;
		.address-details-city {
			margin-right: 30px;
			width: 80%;
			max-width: 200px;
		}
		// .address-details-state {
		// 	margin-right: 30px;
		// }
	}
	.address-details-zip {
		input {
			// width: 100%;
			-webkit-appearance: none;
			margin: 0;
		}
	}
	.address-details-state {
		select {
			font-family: 'futura-pt';
			font-size: 1.6rem;
			height: 58px;
			margin: 6px 0 6px 0;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}
