
.form-2 {
	.address-details {
		display: flex;
		justify-content: space-between;	
		align-items: center;
		width: 100%;
		.address-details-city {
			margin-right: 30px;
			width: 100%;
			input {
				width: 100%;
			}
		}
		// .address-details-state {
		// 	margin-right: 30px;
		// }
		
	}
	.address-details-zip {
		input {
			// width: 100%;
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
