.add-trade-container {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bleached-black;
    .add-trade-card {
        width: 50%;
        height: 80%;
        background-color: $snow-white;
    }
}