.dashboard .dashboard-body .dashboard-header.section {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	.header-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		.project-status {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 152px;
			height: 40px;
			border-radius: 5px;
			font-size: 1.8rem;
		}
		.project-status.started {
			color: $live-fg;
			background-color: $live-bg;
		}
		.project-status.not-started {
			color: $notlive-fg;
			background-color: $notlive-bg;
		}
	}

	.header-middle {
		display: flex;
		flex-direction: column;
		.header-middle-geo {
			color: $mirage;
			font-size: 1.6rem;
		}
		.header-middle-title {
			color: $machiavellian;
			font-size: 3.2rem;
			margin-bottom: 16px;
		}
		.header-middle-description {
			color: $mirage;
			font-size: 2rem;
			max-width: 970px;
			width: 100%;
			line-height: 1.34;
			letter-spacing: normal;
			margin-bottom: 40px;
		}
	}

	.header-bottom {
		display: flex;
		justify-content: space-between;
		.bottom-left {
			display: flex;
			width: 50%;
			.due-date {
				background-color: $franks-grey;
				color: $machiavellian;
				font-size: 1.8rem;
				display: flex;
				justify-content: left;
				align-items: center;
				width: 237px;
				height: 40px;
				border-radius: 5px;
				margin-right: 40px;
				padding-left: 15px;
			}
			.bottom-icons {
				color: $chillFi-purple;
				font-size: 3.8rem;
				display: flex;
				align-items: center;
				svg {
					margin-right: 20px;
				}
			}
		}

		.header-bottom-seemore {
			font-size: 2rem;
			color: $static-grey;
		}


		.team-members {
			display: flex;
			align-items: center;
			width: 50%;
			.member-icons {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				p {
					color: $machiavellian;
					font-size: 1.6rem;
					line-height: 1.55;
					letter-spacing: 0.96px;
					width: 100%;
					text-align: right;
					margin: auto 16px auto 0;
				}
				.count {
					font-size: 1.8rem;
					margin: auto 5px;
				}
			}
		}
	}
}

.dark-mode {
	.header-top {
		.project-status.started {
			color: $live-fg;
			background-color: rgba($live-bg, 0.5); 
		}
		.project-status.not-started {
			color: $notlive-fg;
			background-color: rgba($notlive-bg, 0.5); 
		}
	}
	.header-middle {
		.header-middle-geo {
			color: $static-grey;
		}
		.header-middle-title {
			color: $snow-white;
		}
		h2,
		h3,
		.header-middle-description {
			color: $snow-white;
		}
	}
	.header-bottom {
		.bottom-left {
			.due-date {
				background-color: $bleached-black;
				color: $static-grey;
			}
			.bottom-icons {
				color: $maastricht-blue;
			}
		}
		.team-members {
			p {
				color: $snow-white;
			}
			.member-icons {
				.count {
					color: $snow-white;
				}
			}
		}
	}
}
