@import './AddTrade/AddTrade.scss';

.dashboard .dashboard-body .dashboard-header.section {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	.header-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
		.header-status {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			.project-status {
				background-color: $franks-grey;
				color: $chillFi-purple;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 152px;
				height: 40px;
				border-radius: 5px;
				font-size: 1.8rem;
				margin-right: 10px;
			}
			.project-status.started {
				color: $live-fg;
				background-color: $live-bg;
			}
			.project-status.not-started {
				color: $notlive-fg;
				background-color: $notlive-bg;
			}
		}
		.project-settings {
			color: $static-grey;
			display: flex;
			align-items: center;
			justify-content: right;
			font-size: 1.6rem;
			margin: 0 0 auto 0;
			.project-settings-dropdown {
				@include subtleBoxShadow;
				color: $bleached-black;
				background-color: $snow-white;
				position: absolute;
				transform: translate(-205px, 30px);
				width: 200px;
				padding: 10px;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				.project-settings-dropdown-option {
					display: flex;
					justify-content: left;
					align-items: center;
					text-align: left;
					margin: 10px 0;
					padding: 10px 5px;
					cursor: pointer;
				}
				.project-settings-dropdown-option.delete {
					svg {
						color: $ruby-enchantment;
					}
				}
			}
		}
	}

	.add-tasks {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 2rem;

		.create-task-button {
			margin-right: 1rem;
			font-size: 16px;
			line-height: 181.14%;
			letter-spacing: 0.06em;
			color: rgba(0, 23, 31, 0.8);
		}
		img {
			width: 80%;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.header-top-right {
		display: flex;
	}

	.header-middle {
		display: flex;
		flex-direction: column;
		.header-middle-geo {
			color: $mirage;
			font-size: 1.6rem;
		}
		.header-middle-title {
			color: $machiavellian;
			font-size: 3.2rem;
			margin-bottom: 16px;
		}
		.header-middle-description {
			color: $mirage;
			font-size: 2rem;
			max-width: 970px;
			width: 100%;
			line-height: 1.34;
			letter-spacing: normal;
			margin-bottom: 40px;
		}
	}

	.header-bottom {
		display: flex;
		justify-content: space-between;
		.bottom-left {
			display: flex;
			justify-content: flex-start;
			// width: 75%;
			.due-date {
				background-color: $franks-grey;
				color: $machiavellian;
				font-size: 1.8rem;
				display: flex;
				justify-content: left;
				align-items: center;
				border-radius: 5px;
				margin-right: 40px;
				padding: 10px 15px;
			}
		}
		.bottom-icons {
			color: $chillFi-purple;
			font-size: 3.2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			svg {
				margin-right: 20px;
			}
			.bottom-button {
				font-size: 2.5rem;
				margin-left: 15px;
				margin-right: 15px;
				justify-self: flex-end;
				position: relative;
				cursor: pointer;
				// .manage, .close {
				// 	min-width: 160px;
				// @media($tablet) {

				// }
				// }
				&:hover {
					color: lighten($chillFi-purple, 20%);
					transition-duration: 0.75s;
				}
				.bottom-button {
					font-size: 2.5rem;
					margin-left: 10px;
					margin-right: 10px;
					justify-self: flex-end;
					&:hover {
						color: lighten($chillFi-purple, 20%);
						transition-duration: 0.75s;
					}
					&:active {
						margin-bottom: -10px;
						transition-duration: 0.2s;
					}
				}
			}
		}
		.team-members {
			display: flex;
			align-items: center;
			width: 25%;
			min-width: 250px;
			.member-icons {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				.dashboard-picture-icons {
					border-radius: 100%;
				}
				p {
					color: $machiavellian;
					font-size: 1.6rem;
					line-height: 1.55;
					letter-spacing: 0.96px;
					width: 100%;
					text-align: right;
					margin: auto 16px auto 0;
				}
				.count {
					font-size: 1.8rem;
					margin: auto 5px;
				}
			}
		}
	}
}
.header-bottom-seemore {
	font-size: 3.4rem;
	color: $static-grey;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: -5px;
	svg {
		&:hover {
			color: $mirage;
			transition-duration: 0.75s;
		}
		&:active {
			margin-bottom: -10px;
			transition-duration: 0.2s;
		}
	}
	// button {
	// 	margin: 1rem;
	// }
}

.dark-mode {
	.dashboard .dashboard-body .dashboard-header.section {
		.header-top {
			.project-status.started {
				color: $live-fg;
				background-color: rgba($live-bg, 0.5);
			}
			.project-status.not-started {
				color: $notlive-fg;
				background-color: rgba($notlive-bg, 0.5);
			}
		}

		.add-tasks {
			.create-task-button {
				color: $snow-white;
			}
		}
		.header-middle {
			.header-middle-geo {
				color: $static-grey;
			}
			.header-middle-title {
				color: $snow-white;
			}
			h2,
			h3,
			.header-middle-description {
				color: $snow-white;
			}
		}
		.header-bottom {
			.bottom-left {
				.due-date {
					background-color: $bleached-black;
					color: $static-grey;
				}
				.bottom-icons {
					color: $maastricht-blue;
				}
			}
			.team-members {
				p {
					color: $snow-white;
				}
				.member-icons {
					.count {
						color: $snow-white;
					}
				}
			}
		}
	}
}
