
.search-projects-near-you {
	background-color: $blue-valentine;
	color: $snow-white;
	margin-top: 4%;
	padding: 40px;
	height: 100%;
    min-height: 700px;
    max-height: 900px;
	@media #{$tablet} {
		margin: 0 auto;
		text-align: left;
		min-height: 300px;
	}
	h2 {
		text-align: center; 
		margin-bottom: 25px;
		@media #{$tablet} {
			font-size: 3.4rem;
		}
	}
}

.dark-mode {
	.search-projects-near-you {
		background-color: $ocean-blue;
		color: $sub-zero;
	}
}
