.search-projects-near-you {
	background-color: $blue-valentine;
	color: $snow-white;
	display: flex;
	justify-content: space-around;
	margin-top: 4%;
	padding: 40px;
	@media #{$tablet}{
		flex-direction: column;
		margin: 0 auto;
		text-align: left;
	}
	.search-projects {
		display: flex;
		flex-direction: column;
		width: 40%;
		margin: 2% auto auto 6%;
		@media #{$tablet}{
			width: 88%;
		}
		h2 {
			font-family: "futura-pt";
			// font-size: 36px;  // deprecating h* overrides for a more uniform design
			margin: 2.75% auto 3.8% 0.8%;
			letter-spacing: 1.4px;
			@media #{$tablet}{
				font-size: 3.2rem;
				margin: 0;
				padding-bottom: 15px;
			}
		}
		.description{
			line-height: 1.25;
			font-size: 1.8rem;
			width: 78%;
			letter-spacing: 0.7px;
			margin-left: 6px;
			@media #{$tablet}{
				display: none;
			}
		}
		.description-tablet{
			display: none;
			line-height: 1.25;
			font-size: 23px;
			width: 72%;
			letter-spacing: 0.7px;
			margin-left: 6px;
			@media #{$tablet}{
				display: block;
				margin: 0;
				padding-bottom: 35px;
				width: 100%;
			}
		}
	}


	.search-projects-map {
		background-color: $police-blue;
		color: $sub-zero;
		width: 60%;
		height: 405px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media #{$tablet}{
			width: 88%;
			margin: 0 auto;
			margin-top: 50px;
		}
	}
}

.dark-mode {
	.search-projects-near-you {
		background-color: $ocean-blue;
		color: $sub-zero;
		.search-projects {
			button {
				background-color: $sub-zero;
				color: $ocean-blue;
				&:hover {
					background-color: $ocean-blue;
					color: $sub-zero;
					mix-blend-mode: color-dodge;
				}
			}
		}
	}
}
