.search-projects-near-you {
	background-color: $blue-valentine;
	color: $snow-white;
	display: flex;
	justify-content: space-around;
	margin-top: 4%;
	height: 617px;
	h2 {
		font-family: "futura-pt";
		font-size: 36px;
		margin: 2.75% auto 3.8% 0.8%;
		height: auto;
		letter-spacing: 1.4px;
	}
	p {
		line-height: 1.25;
		font-size: 23px;
		width: 58%;
		letter-spacing: 0.7px;
		margin-left: 6px;
	}

	.search-projects {
		display: flex;
		flex-direction: column;
		width: 45.5%;
		height: 70%;
		// padding-left: 25px;
		margin: 2% auto auto 5.3%;
		input {
			min-height: 49px;
			margin: 4.8% auto 4% 0.3%;
			width: 52.1%;
			margin-left: 7px;
			font-family: "futura-pt";
			font-size: 18px;
			font-style: italic;
			letter-spacing: 1px;
		}
		button {
			@include buttonStyler($snow-white, $chillFi-purple, none);
			@include subtleBoxShadow;
			margin: 3px 5px;
			border-radius: 0.25rem;
			width: 25.2%;
			height: 50px;
			font-family: "futura-pt";
			font-size: 20px;
			letter-spacing: 0.7px;
			padding: 1px;
		}
	}

	.fake-map {
		width: 48%;
		height: 495px;
		margin: auto 35px;
		background-color: $police-blue;
		color: black;
	}
}

.dark-mode {
	.search-projects-near-you {
		background-color: $ocean-blue;
		color: $sub-zero;
		.search-projects {
			button {
				background-color: $sub-zero;
				color: $ocean-blue;
				&:hover {
					background-color: $ocean-blue;
					color: $sub-zero;
					mix-blend-mode: color-dodge;
				}
			}
		}
	}
}
