.form-2 {
	.address-details {
		display: flex;
		width: 100%;
		select {
			height: 3.25rem;
			margin: 2% 0 0 0;
		}

		.proj-zip {
			-webkit-inner-spin-button,
			-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}
