  
.dashboard-container {
    background-color: scale-color($silver-lining, $alpha: -65%);
    height: 100%;
}

.dark-mode {
    .dashboard-container {
        background-color: $bleached-black;
    }
}


// .footer {
//     background-color: $mirage;
//     color: $snow-white;
// }

