.projectPictureContainer{
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    display: none;

    .projectImgCarousel {
        display: flex;
        transition: 0.3s
    }
    p {
        font-size: 2.4rem;
        line-height: 212.81%;
        letter-spacing: 0.06em;
        font-weight: bold;
        padding: 0 15px;
    }

    .projectImgCarousel {

        img {
            width: 100%;
            border-radius: 5px;
            padding: 15px;
            cursor: pointer;
            border-radius: 20px;
        }
    }
}