.projectPictureContainer{

    max-width: 1645px;
	margin: 80px auto 0 auto;

    p {
        font-size: 24px;
        line-height: 212.81%;
        letter-spacing: 0.06em;
        font-weight: bold
    }

    .projectImgCarousel {

        img {
            width: 345px;
            height: 224px;
            border-radius: 5px;
            margin-right: 0.9%;
            cursor: pointer
        }
    }
}