.add-task-container {
    background-color: rgba($bleached-black, 0.75);
    height: 100vh;
    width: 100vw;
    top: 0vh;
    left: 0;
    // right: 0;
    // bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    .add-task-card {
        background-color: $snow-white;
        font-size: 1.8rem;
        width: 650px;
        padding: 30px 20px;
        .add-task-actions {
            width: 100%;
            text-align: right;
        }
        h1 {
            text-align: center;
            padding: 0 20px 20px 20px;
            font-size: 3.2rem;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 82%;
            .add-task-input-container.disabled {
                select {
                    font-style: italic;
                    color: $mirage;
                    background-color: $franks-grey;
                }
            }
            .add-task-input-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 10px auto;
                .add-task-input-label {
                    width: 20%;
                    margin-right: 20px;
                }
                input {
                    width: 340px;
                    height: 15px;
                }
                select {
                    text-align-last:center;
                    font-size: 1.8rem;
                    width: 372px;
                    height: 40px;
                    border-radius: 0;

                    @media #{$tablet} {
                        font-size: 2rem;
                    }
                    option:first-child {
                        color: gray
                    }
                    option {
                        color: black
                    }
                }
            }
           


            .add-task-date-hours-container {
                width: 430px;
                margin: 15px auto;
                display: flex;
                justify-content: space-evenly;
                .add-task-input {
                    text-align: left;
                    .add-task-input-label {
                        margin-left: 0;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    input {
                        width: 160px;
                        height: 15px;
                    }
                }
                // .add-task-input.date {}
                .add-task-input.hours { 
                    input {
                        width: 90px;
                        text-align: right;
                        align-items: flex-end;
                        margin-left: auto;
                        align-self: right;
                    }
                }
            }



            .add-task-textarea-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .add-task-input-label {
                    width: 430px;
                }
                textarea {
                    margin: 10px auto;
                    width: 400px;
                    min-height: 65px;
                }
            }



            .add-task-button-container {
                width: 100%;
                display: flex;
                justify-content: center;
                button {
                    @include buttonStyler($chillFi-purple, $snow-white, 0, 0);
                    margin-top: 15px;
                    border-radius: 5px;
                    font-size:2.1rem;
                    padding: 10px 5px;
                }
            }
        }
    }
}