.bannerContainer {
    height: 33rem;
    width: 85.2%;
    margin: 6.2rem auto 2rem 9.8rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: $chillFi-purple;
    display: flex;
    img {
        margin: 4.4rem 0 0 7.15rem;
    }
    .textContainer {
        padding: 0 2.5%;
        text-align: center;
        color: $snow-white;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        h2 {
            font-size: 64px;
            line-height: 160.81%;
            letter-spacing: 0.05rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 40px;
            line-height: 160.81%;
            letter-spacing: 0.06rem;
            margin-bottom: -1rem;
        }
    }
}