.searchable-map {
    height: 100%; 
    min-height: 400px;
    max-height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // h2 {
	// 	font-family: 'futura-pt';
	// 	margin: 30px auto;
	// 	letter-spacing: 0.14rem;
	// 	@media #{$tablet} {
	// 		font-size: 33px;
	// 		margin: 0;
	// 		padding-bottom: 15px;
    //     }
    // }
    // // #deckgl-wrapper canvas#deckgl-overlay {
    // //     position: relative;
    // // }
    // .searchable-map-navigation {
    //     position: absolute;
    //     width: 50px;
    //     top: 10px;
    //     right: 0;
    //     padding: 10px;
    // }
}