.list {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	margin: 2rem 0;

	.column {
		flex-direction: column;
		text-align: center;
	}
	.left-bg {
		width: 1rem;
		margin-right: 3rem;
	}

	.container {
		width: 100%;

		display: flex;
		justify-content: space-between;

		.text {
			width: 100%;

			h2 {
				font-size: 18px;
				margin-bottom: 1rem;
			}
			.description {
				font-family: Roboto;
				font-size: 13px;
				font-style: italic;
				line-height: 1.34;
				letter-spacing: 0.78px;
				color: #00171f;
				margin-bottom: 1rem;
			}

			.comment {
				font-family: Roboto;
				font-size: 12px;
				line-height: 1.34;
				letter-spacing: 0.72px;
				color: #00171f;
			}
		}

		img {
			width: 5%;
			scale: both;
			margin-right: 2rem;
		}
		.text {
			display: flex;
			flex-direction: column;
		}
	}

	.right {
		width: 20%;
		display: flex;
		justify-content: flex-end;

		img {
			width: 20%;
			object-fit: contain;
			scale: both;
		}
	}
}
