.tabs {
	color: #00171f;
	font-size: 18px;
	letter-spacing: 1.08px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	.tab {
		font-family: 'Roboto';
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: 1.08px;
		&:hover {
			cursor: pointer;
		}
	}

	.active-tab {
		border-bottom: 5px solid $erudite-purple;
		padding-bottom: 3.5rem;
	}
}
.dark-mode {
	.tabs {
		color: $snow-white;
	}
	.active-tab {
		border-bottom: 5px solid $snow-white;
	}
}
