@mixin fixedNav {
	position: sticky;
	width: 100%;
	overflow: hidden;
	background-color: $snow-white;
	top: 0;
	left: 0;
	z-index: 100;
}



@mixin buttonStyler($bgc, $textColor, $borderStyle, $margin: 8% 0) {
	font-family: 'futura-pt';
	background: $bgc;
	color: $textColor;
	margin: $margin;
	padding: 0.9rem 2rem;
	border-radius: 0.25rem;
	border-width: 3px;
	border-color: $textColor;
	border-style: $borderStyle;
	width: 11rem;
	transition: 0.2s all ease-in-out;
	user-select: none;
	&:hover {
		background-color: darken($bgc, 7.5%);
		color: $textColor;
		cursor: pointer;
		border: 2px $borderStyle $bgc;
		// transform: scale(1.005);
		// background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
		// box-shadow: 
		// 	0px 0px 7px 0px rgba(92, 69, 69, 0.95);
		// 	// 5px 0px 5px rgba(0, 0, 0, 0.431),
		// 	// 0px 5px 5px rgba(0, 0, 0, 0.431),
		// 	// 5px 5px 5px rgba(0, 0, 0, 0.431)
	}
	&:active {
		// box-shadow: 
		// 	0px 0px 2px rgba(0, 0, 0, 0.431), 
		// 	2px 0px 2px rgba(0, 0, 0, 0.431), 
		// 	0px 2px 2px rgba(0, 0, 0, 0.431),
		// 	2px 2px 2px rgba(0, 0, 0, 0.431);
		transform: scale(0.98);
	}
}
@mixin spaceForNav {
	// margin-top: 100px; // This is redundant now that we are using sticky for positioning in the nav
}

@mixin testBorder($borderColor) {
	border: 1px dashed $borderColor;
}

@mixin subtleBoxShadow {
	box-shadow: 0px 0px 5px 0px rgba(10,10,10,0.25);
}

@mixin bottomBoxShadow {
	box-shadow: 0px 4px 3px -3px rgba(10, 10, 10, 0.25);
}

@mixin sections {
	border-left-color: $static-grey;
    border-left-style: solid;
	border-left-width: 1px;
    border-right-color: $static-grey;
    border-right-style: solid;
    border-right-width: 1px;
	border-top-color: $static-grey;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: $static-grey;
    border-bottom-style: solid;
    border-bottom-width: 3px;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	background-color: $snow-white;
}