// primary colors
$erudite-purple: #0b096f;
$chillFi-purple: #4840ba;
$orilean-blue: #235597;
$cerulean: #49a2ff;
$ocean-blue: #2041b6;
$blue-valentine: #0051be;
$saphire-mox: #3366e9;
$sky-blue: #aad5ff;
$sub-zero: #c3e4ff;
$old-horizon: #d6eeff;
$abatross: #e8f6ff;

//secondary colors
$ruby-enchantment: #d2405b;
$pikachu: #ffc100;
$luigi: #82c7b3;
$mutant-turtle: #53a1a9;
$mocha: #ab7b61;
$scampi: #f7ad82;
$papier-mache: #fbcaad;
$colress: #fcede3;

//basic grey shades
$black-void: #000;
$mirage: #979797;
$static-grey: #c4c4c4;
$silver-lining: #ededef;
$snow-white: #fff;

//dark mode shades
$machiavellian: #00171f;
$police-blue: #003459;
$maastricht-blue: #007ea7;
$dark-electric-blue: #00a8e8;

//media queries
$mobile: 'only screen and (max-width:500px)';
