// primary colors
$erudite-purple: #0B096F;
$chillFi-purple: #363086;
$orilean-blue: #235597;
$cerulean: #49A2FF;
$ocean-blue: #2041B6;
$blue-valentine: #0051BE;
$saphire-mox: #3366E9;
$sky-blue: #AAD5FF;
$sub-zero: #C3E4FF;
$old-horizon: #D6EEFF;
$abatross: #E8F6FF;

//secondary colors
$ruby-enchantment: #D2405B;
$pikachu: #FFC100;
$luigi: #82C7B3;
$mutant-turtle: #53A1A9;
$mocha: #AB7B61;
$scampi: #F7AD82;
$papier-mache: #FBCAAD;
$colress: #FCEDE3;

//basic grey shades
$black-void: #000;
$mirage: #979797;
$static-grey: #C4C4C4;
$silver-lining: #EDEDEF;
$snow-white: #fff;

//dark mode shades
$machiavellian: #00171F;        
$police-blue: #003459;
$maastricht-blue: #007EA7;
$dark-electric-blue: #00A8E8;
