// primary colors
$erudite-purple: #0b096f;
$chillFi-purple: #4840ba;
$orilean-blue: #235597;
$cerulean: #49a2ff;
$ocean-blue: #2041b6;
$blue-valentine: #0051be;
$saphire-mox: #3366e9;
$sky-blue: #aad5ff;
$sub-zero: #c3e4ff;
$old-horizon: #d6eeff;
$abatross: #e8f6ff;

//secondary colors
$ruby-enchantment: #d2405b;
$pikachu: #ffc100;
$luigi: #82c7b3;
$mutant-turtle: #53a1a9;
$mocha: #ab7b61;
$scampi: #f7ad82;
$papier-mache: #fbcaad;
$colress: #fcede3;

//basic grey shades
$black-void: #000;
$dark-grey: #444;
$mirage: #979797;
$static-grey: #c4c4c4;
$silver-lining: #ededef;
$elans-grey: #eae6fa;
$franks-grey: #f9f8f9;
$snow-white: #fff;

//dark mode shades
$bleached-black: #191a1e;
$darkness: #111114;
$machiavellian: #00171f;
$police-blue: #003459;
$maastricht-blue: #007ea7;
$dark-electric-blue: #00a8e8;

// Status colors
$live-bg: #e3fff7;
$live-fg: #15630e;
$notlive-bg: #ffe3e3;
$notlive-fg: #630e0e;

//media queries
$mobile: 'only screen and (max-width:500px)';
$tablet: 'only screen and (max-width:1200px)';
$tablet-small: 'only screen and (max-width:800px)';
$tablet-short: 'only screen and (max-height:550px)';
$desktop: 'only screen and (min-width:1200px)';

// color mappings
.color-erudite-purple {
	color: $erudite-purple;
	background-color: $erudite-purple;
}
.color-chillFi-purple {
	color: $chillFi-purple;
	background-color: $chillFi-purple;
}
.color-orilean-blue {
	color: $orilean-blue;
	background-color: $orilean-blue;
}
.color-cerulean {
	color: $cerulean;
	background-color: $cerulean;
}
.color-ocean-blue {
	color: $ocean-blue;
	background-color: $ocean-blue;
}
.color-blue-valentine {
	color: $blue-valentine;
	background-color: $blue-valentine;
}
.color-saphire-mox {
	color: $saphire-mox;
	background-color: $saphire-mox;
}
.color-sky-blue {
	color: $sky-blue;
	background-color: $sky-blue;
}
.color-sub-zero {
	color: $sub-zero;
	background-color: $sub-zero;
}
.color-old-horizon {
	color: $old-horizon;
	background-color: $old-horizon;
}
.color-abatross {
	color: $abatross;
	background-color: $abatross;
}

.color-ruby-enchantment {
	color: $ruby-enchantment;
	background-color: $ruby-enchantment;
}
.color-pikachu {
	color: $pikachu;
	background-color: $pikachu;
}
.color-luigi {
	color: $luigi;
	background-color: $luigi;
}
.color-mutant-turtle {
	color: $mutant-turtle;
	background-color: $mutant-turtle;
}
.color-mocha {
	color: $mocha;
	background-color: $mocha;
}
.color-scampi {
	color: $scampi;
	background-color: $scampi;
}
.color-papier-mache {
	color: $papier-mache;
	background-color: $papier-mache;
}
.color-colress {
	color: $colress;
	background-color: $colress;
}
