@import 'reset';
// Vars and Mixins
@import 'variables';
@import url('https://use.typekit.net/she4pxn.css');
@import 'global';
@import 'mixins';

// Pages Here
@import '../views/Landing/LandingPage.scss';

@import '../views/Dashboard/Dashboard.scss';
@import "../views/Dashboard/User/UserDashboard.scss";

@import '../views/Login/Login.scss';
@import '../views/Register/Register.scss';

@import '../views/ProjectsHome/CTAplusTrending/CTAPlusTrades.scss';
@import '../views/ProjectsHome/SubscribeCTA/SubscribeCTA.scss';
@import '../views/ProjectsHome/RecomendedPlusStories/RecommendedPlusStories.scss';
@import '../views/ProjectsHome/ProjectsHome.scss';
@import '../views/ProjectsHome/ProjectsHome.scss';
@import '../views/ProjectsHome/CTAplusTrending/CTAPlusTrades.scss';
@import '../views/ProjectsHome/SubscribeCTA/SubscribeCTA.scss';
@import '../views/ProjectsHome/RecomendedPlusStories/RecommendedPlusStories.scss';

@import '../views/ProjectPage/ProjectPage.scss';
@import '../views/ProjectPage/ProjectDescription/DetailedDescription/DetailedDescription.scss';


// @import '../views/CreateProjWizard/CreateProjWizard.scss';

// Pages Here

// @import '../routes/routerNoAuth/Login/Login.scss';
// @import '../routes/routerNoAuth/ProjectsHome/ProjectsHome.scss';
// @import '../routes/routerNoAuth/Register/Register.scss';
// @import '../routes/routerUser/CreateProjWizard/CreateProjWizard.scss';
// @import '../routes/routerProject/ProjectPage/ProjectPage.scss';
// @import '../routes/routerProject/ProjectPage/ProjectDescription/DetailedDescription/DetailedDescription.scss';



// Components Here
@import '../components/Card/Card.scss';
@import '../components/Layout/Footer.scss';
@import '../components/Layout/Nav.scss';
@import '../components/Layout/UserNav.scss';
@import '../components/Project/Project.scss';
@import '../components/ProjectList/ProjectList.scss';


