html {
	font-size: 62.5%;
}
body {
	font-family: 'futura-pt';
	button:focus { 
		outline: none; 
	}
}

.dark-mode {
	background-color: $machiavellian;
	color: $snow-white;
}

a {
	text-decoration: none;
	color: inherit;
}

i { 
	font-style: italic;
}

p {
	font-family: 'Futura-pt';
}

b { 
	font-weight: bold;
}


h1 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 3.2rem;
}

h2 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 2.2rem;
}

h3 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 2rem;
}

h4 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 1.8rem;
}

h5 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 1.6rem;
}

input {
	font-family: "Futura";
	font-size: 1.2rem;
	height: 35px;
	padding: 0px 10px;
	border-radius: 5px;
	border: none;
	border: 1px solid $mirage;
}

textarea {
	font-family: "Futura";
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid $mirage;
}

select {
	font-family: "Futura-pt";
	font-size: 1.6rem;
}