h2 {
	font-size: 1.3rem;
	height: 1.2rem;
	font-weight: bolder;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('../assets/fonts/FuturaBT-Book.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura XBlk BT';
	src: url('../assets/fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-ExtraBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Lt BT';
	src: url('../assets/fonts/FuturaBT-Light.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura XBlk BT';
	src: url('../assets/fonts/FuturaBT-ExtraBlack.woff2') format('woff2'), url('../assets/fonts/FuturaBT-ExtraBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Hv BT';
	src: url('../assets/fonts/FuturaBT-HeavyItalic.woff2') format('woff2'), url('../assets/fonts/FuturaBT-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura BdCn BT';
	src: url('../assets/fonts/FuturaBT-BoldCondensed.woff2') format('woff2'), url('../assets/fonts/FuturaBT-BoldCondensed.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Hv BT';
	src: url('../assets/fonts/FuturaBT-Heavy.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Lt BT';
	src: url('../assets/fonts/FuturaBT-LightItalic.woff2') format('woff2'), url('../assets/fonts/FuturaBT-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../assets/fonts/Futura-Bold.woff2') format('woff2'),
		url('../assets/fonts/Futura-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Md BT';
	src: url('../assets/fonts/FuturaBT-BoldItalic.woff2') format('woff2'), url('../assets/fonts/FuturaBT-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Md BT';
	src: url('../assets/fonts/FuturaBT-Medium.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura LtCn BT';
	src: url('../assets/fonts/FuturaBT-LightCondensed.woff2') format('woff2'), url('../assets/fonts/FuturaBT-LightCondensed.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Md BT';
	src: url('../assets/fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('../assets/fonts/FuturaBT-BookItalic.woff2') format('woff2'), url('../assets/fonts/FuturaBT-BookItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Futura MdCn BT';
	src: url('../assets/fonts/FuturaBT-MediumCondensed.woff2') format('woff2'),
		url('../assets/fonts/FuturaBT-MediumCondensed.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

