html {
	font-size: 62.5%;
}

body {
	font-family: 'futura-pt';
	button:focus {
		outline: none;
	}
}

.dark-mode {
	background-color: $bleached-black;
	color: $snow-white;
}

a {
	text-decoration: none;
	color: inherit;
	user-select: none;
	cursor: pointer;
}

i {
	font-style: italic;
}

p {
	font-family: 'futura-pt';
	font-size: 1.8rem;
}

b {
	font-weight: bold;
}

h1 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 4.8rem;
}

h2 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 3.8rem;
}

h3 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 2.4rem;
}

h4 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 2.2rem;
}

h5 {
	font-family: 'futura-pt';
	// font-weight: bold;
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
	font-weight: 500;
}

input {
	font-family: 'Roboto';
	font-size: 1.6rem;
	padding: 10px 15px;
	outline: none;
	height: 35px;
	border-radius: 5px;
	border: none;
	border: 1px solid $mirage;
}

textarea {
	font-family: 'Roboto';
	font-size: 1.6rem;
	padding: 10px 15px;
	margin: 10px 0 0;
	outline: none;
	border-radius: 5px;
	border: 1px solid $mirage;
}

select {
	font-family: 'Roboto';
	font-size: 1.6rem;
	border-radius: 5px;
	border: 1px solid $mirage;
}

hr {
	width: calc(100% + 20px);
	margin-left: -10px;
	border: none;
	border-top-color: $silver-lining;
	border-top-width: 1px;
	border-top-style: solid;
}

.display-none {
	display: none;
}

.react-toggle-track {
	background-color: $erudite-purple;
}

.tab {
	&:hover {
		cursor: pointer;
	}
}

a svg {
	&:hover {
		color: lighten($chillFi-purple, 20%);
	}
	&:focus,
	&:active {
		color: darken($chillFi-purple, 20%);
	}
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
