.user-dashboard-sidebar {
    // @include testBorder(red);
    width: 25%;
    height: 100%;
    text-align: center;
    .user-dashboard-sidebar-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 130px;
        padding: 20px;
    }
}