.loginContainer {
    background: #0B096F;
    height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    color: white;
    letter-spacing: 0.06em;

    .loginForm {
        width: 40%;
        height: 100%;

        .loginThirdParty {
            
            height: 40%;
            width: 60%;
            margin: 0 auto;
            margin-top: 70px;

            .loginWelcome {
                text-align: center;
                color: white;
            }

            button {
                width: 100%;
                margin-top: 30px;
                height: 50px;
                border-radius: 8px;
                border: none;
                background: #FFFFFF;
                cursor: pointer;
                

                .loginButton {
                    display: flex;
                    align-items: center;
                    margin: 0 20px;
                    ;
                    img{
                        margin-right: 20px;
                        height: 40px;
                        width: 40px
                    }
                }
            }
        }

        .loginMiddle {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .loginLine {
                height: 1px;
                width: 40%;
                background: white
            }
        }

        .loginLocal {
            width: 60%;
            margin: 0 auto;
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .loginSpaceAbove{
                margin-top: 40px
            }

            .loginMid {
                text-align: center;
                p {
                    font-style: italic;
                    
                }
            }

            span {
                text-decoration: underline;
                font-style: italic;
                cursor: pointer
            }

            input {
                height: 35px;
            }

            .loginPass {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            button {
                height: 50px;
                background: #D2405B;
                width: 50%;
                margin: 0 auto;
                margin-top: 60px;
                border: none;
                color: white;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer
            }
        }
    }

    .loginIMG {
        height: 100%;
        width:60%
    }
    
}