@import './Form1/Form1.scss';
@import './Form2/Form2.scss';
@import './Form3/Form3.scss';

.create-project-page {
	background-image: url('../assets/CreateProjWizard/RocketManGradient.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0 auto;
	.errorText {
		color: red;
	}
	// .bottom-cloud {
	// 	align-self: flex-end;
	// 	width: 100%;
	// 	bottom: 0;
	// 	left: 0;
	// }

	// .project-title {
	// 	color: $chillFi-purple;
	// 	font-family: "Futura";
	// 	font-size: 2.8rem;
	// 	line-height: 37px;
	// 	letter-spacing: 0.06em;
	// 	padding-top: 2.2%;
	// 	padding-left: 3.7%;
	// }


	.form-plus-quote-container {
		background-color: $chillFi-purple;
		display: flex;
		justify-content: space-around;
		width: 88%;
		height: 750px;
		margin-left: 12%;
		z-index: 5;
		position: relative;
		top: 20%;
		@media #{$tablet} {
			width: 100%;
			margin-left: unset;
		}

		.quote {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			height: 100%;
			width: 35%;
			padding: 0 60px;
			white-space: nowrap;
			h2 {
				height: auto;
				margin: auto 0 ;
				text-align: center;
				letter-spacing: 0.06em;
			}
			p {
				height: auto;
				padding-bottom: 120px;
			}
			@media #{$tablet} {
				display: none;
			}
		}
		.ui-section {
			background-color: $snow-white;
			// width: 1290px;
			width: 65%;
			@media #{$tablet} {
				width: 100%;
			}
			.title {
				display: block;
				margin: 40px auto 40px 8%;
			}
			.progress-tracker {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				min-width: 100%;
				.tracker {
					display: flex;
					justify-content: space-around;
					width: 50%;
					margin: 30px auto 45px 8%;
					.active {
						background-color: $chillFi-purple;
						border: 2px solid $chillFi-purple;
					}
					.step {
						border-radius: 8px;
						border: 2px solid $mirage;
						width: 32%;
						height: 10px;
					}
				}
			}
			form {
				display: flex;
				flex-direction: column;
				width: 42%;
				margin: 0 auto;
				height: 500px;
				h2 {
					margin: 3% auto auto 0;
					height: auto;
					font-size: 18px;
					line-height: 24px;
					letter-spacing: 0.06em;
				}
				input {
					border-radius: 2px;
					margin: 3% 0 5% 0;
					height: 3rem;
					border: 1px solid grey;
				}
				button {
					@include buttonStyler($chillFi-purple, $snow-white, none);
					border-radius: 3px;
					align-self: flex-end;
				}
				.form-navigation {
					display: flex;
					justify-content: space-between;
					button {
						width: 40%;
						height: 60px;
					}
					.prev-step {
						order: -1;
					}
				}
				.description {
					height: 11rem;
				}

				.state-zip {
					width: 100px;
					
					input {
						width: 100%
					}
					select {
						width: 100%;
						border: 1px solid grey;
					}
				}
			}
		}
	}
}
