@import './Form1/Form1.scss';
@import './Form2/Form2.scss';
@import './Form3/Form3.scss';

.create-project-page {
	background-image: url('../assets/CreateProjWizard/RocketManGradient.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 1000px;
	margin: 0 auto;
	.errorText {
		color: red;
	}

	.form-plus-quote-container {
		background-color: $chillFi-purple;
		display: flex;
		justify-content: space-around;
		width: 82%;
		max-width: 1420px;
		height: 750px;
		margin-left: 18%;
		z-index: 5;
		position: relative;
		top: 20%;
		@media #{$tablet} {
			width: 100%;
			margin-left: unset;
		}

		q.quote {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			height: 100%;
			width: 35%;
			padding: 0 60px;
			white-space: nowrap;
			h5 {
				height: auto;
				margin: auto 0 ;
				text-align: center;
				letter-spacing: 0.06em;
			}
			p {
				height: auto;
				padding-bottom: 120px;
				font-size: 1.8rem;
			}
			@media #{$tablet} {
				display: none;
			}
		}
		.ui-section {
			background-color: $snow-white;
			width: 65%;

			@media #{$tablet} {
				width: 100%;
			}
			@media #{$mobile} {
				width: 100%;
			}
			.title {
				display: block;
				margin: 40px auto 40px 8%;
			}
			.progress-tracker {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				min-width: 100%;
				.tracker {
					display: flex;
					justify-content: space-around;
					width: 50%;
					margin: 30px auto 45px 8%;
					.active {
						background-color: $chillFi-purple;
						border: 1px solid $chillFi-purple;
					}
					.step {
						border-radius: 5px;
						border: 1px solid $mirage;
						width: 32%;
						height: 10px;
					}
				}
			}
			form {
				display: flex;
				flex-direction: column;
				width: 45%;
				margin: 0 auto 0 12%;
				height: 500px;
				@media #{$tablet} {
					width: 60%;
				}
				@media #{$mobile} {
					width: 80%;
				}
				h2 {
					// margin: 3% auto auto 0;
					
					height: auto;
					// font-size: 18px;
					line-height: 24px;
					letter-spacing: 0.06em;
				}
				input {
					margin: 6px 0 6px 0;
					margin-bottom: 30px;
					// height: 3rem;
					border: 1px solid $mirage;
				}
				button {
					@include buttonStyler($chillFi-purple, $snow-white, none);
					border-radius: 3px;
					align-self: flex-end;
				}
				.form-navigation {
					display: flex;
					justify-content: space-between;
					.prev-step {
						order: -1;
					}
					button {
						width: unset;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					button.submit {
						background-color: $mutant-turtle;
					}
				}
				.form-navigation.first-step {
					justify-content: flex-end;
				}
				.description {
					height: 11rem;
				}

				.start-date {
					font-family: "Futura";

				}
				textarea { 
					border: 1px solid $mirage;
				}
			}
		}
	}
}
