

.dashboard-main .dashboard-main-body .list.tasks {
	padding-left: 0;
	align-items: center;
	.task-card-indicator.left-bg {
		width: 10px;
		margin-right: 20px;
		height: 70px;
		margin: -20px 0;
		vertical-align: middle;
	}
	.task-card-indicator.left-bg.low-priority {
		background-color: $papier-mache;
	}
	.task-card-indicator.left-bg.medium-priority {
		background-color: $chillFi-purple;
	}
	.task-card-indicator.left-bg.high-priority {
		background-color: $ruby-enchantment;
	}
	.task {
		// background-color: $franks-grey;
		width: 100%;
		display: flex;
		justify-content: space-between;
		// padding: 30px 15px 30px 0;
		// box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
		// margin: 20px 0;
		// border-radius: 5px;
		.task-card-container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.task-card-img-container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-right: 10px;
				img {
					width: 60px;
				}
			}
			.task-card-text {
				width: 100%;
				// color: $machiavellian;
				display: flex;
				flex-direction: column;
				padding-right: 20px;
				h5 {
					// color: $black-void;
					margin-bottom: 10px;
				}
				.description {
					font-family: 'Roboto';
					font-size: 1.3rem;
					font-style: italic;
					line-height: 1.34;
					letter-spacing: 0.78px;
					margin-bottom: 0;
				}
				.comment {
					font-family: 'Roboto';
					font-size: 1.3rem;
					line-height: 1.34;
					letter-spacing: 0.72px;
					
				}
			}
			.task-card-icon-container {
				width: 20%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}	
		}
	}
} 
	


// .list .task.activity {
// 	padding: 25px 20px;
// 	.task-activity-container {
// 		width: 100%;
// 		.task-activity-category {
// 			font-size: 1.4rem;
// 			font-family: "Roboto";
// 			font-weight: lighter;
// 			width: 100%;
// 			text-transform: uppercase;
// 			margin: 0;
// 		}
// 		.task-activity-body {
// 			width: 100%;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			.task-activity-img-container {
// 				width: 120px;
// 				margin-right: 15px;
// 				margin-top: 20px;
// 				img {
// 					width: 100%;
// 					object-fit: cover;
// 					border-radius: 100%;
// 				}
// 			}
// 			.text {
// 				width: 85%;
// 				padding: 0 20px 0 0;
// 				h5 {
// 					margin-bottom: 10px;
// 				}
// 				p {
// 					font-family: "Roboto";
// 					font-size: 1.4rem;
// 					font-weight: lighter;
// 				}
// 			}
// 			.task-activity-date {
// 				width: 15%;
//     			min-width: 130px;
// 				display: flex;
// 				justify-content: flex-end;
// 				text-align: right;
// 			}
// 		}
// 	}
// }


.dark-mode {
	dashboard-main .dashboard-main-body .list.tasks {
		.task {
			background-color: $bleached-black;
			.task-card-container {
				.task-card-text {
					color: $snow-white;
				}
			}
		}
	}
}
