.startContainer section.createProjectContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: $snow-white;
    padding: 6%;
    margin: 0 auto;
    border-radius: 5px;
    @media #{$tablet}{
        flex-direction: column;
        padding: 4%;
    }
    @media #{$tablet-small}{
        padding: 2%;
    }
    @media #{$mobile}{
        padding: 1%;
    }
    img {
        margin: 0 6.6%;
        @media #{$tablet}{
            padding-bottom: 40px;
        }

    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $black-void;
        @media #{$tablet}{
            text-align: center;
            padding-bottom: 40px;
        }
        p {
            font-size: 22px;
            line-height: 153.31%;
            letter-spacing: 0.015rem;
            width: 80%;
            @media #{$tablet}{
                width: 100%;
            }
        }
        button {
            @include buttonStyler($chillFi-purple, $snow-white, none, 0);
            width: 45%;
            font-size: 2.2rem;
            line-height: 1;
            letter-spacing: 0.06rem;
            @media #{$tablet}{
                padding: 15px 20px;
            }
            @media #{$tablet-small}{
                font-size: 20px;
                width: 70%;
                padding: 15px 30px;
            }
            @media #{$mobile}{
                font-size: 18px;
                width: 100%;
                padding: 15px 30px;
            }
        }
    }
}

.dark-mode {
    .createProjectContainer {
        background-color: unset;
        .right {
            margin: 5% unset;
            p {
                color: $snow-white;
                margin-bottom: 5%;
            }
            button {
                @include buttonStyler($maastricht-blue, $snow-white, none, 0);
                width: 45%;
                font-size: 2.2rem;
                line-height: 1;
                letter-spacing: 0.06rem;
            }
        }
    }
}

