.crowdfunding-container {
	max-width: 1500px;
	margin: 7.1% auto 35px auto;
	@media #{$mobile} {
		margin-top: 0;
		padding: 40px 35px 40px 35px;
		height: 100%;
	}

	.crowdfunding-header {
		font-family: 'futura-pt';
		line-height: 160.81%;
		margin-left: 6%;
		letter-spacing: 0.04em;
		font-weight: 500;
		color: $erudite-purple;
		@media #{$tablet} {
			font-size: 3.2rem;
			line-height: 147.81%;
			margin-bottom: 15px;
		}
		@media #{$mobile} {
			margin-left: 0;
			font-size: 2.6rem;
			line-height: 147.81%;
			margin-bottom: 15px;
		}
	}
	p.explore {
		font-family: 'futura-pt';
		font-size: 1.8rem;
		line-height: 160.81%;
		letter-spacing: 0.06em;
		margin: 0 6% 30px 6%;
		@media #{$tablet} {
			font-size: 1.6rem;
		}
		@media #{$mobile} {
			margin-left: 0;
			margin-right: 0;
		}
		br {
			@media #{$mobile} {
				display: none;
			}
		}
	}
	p.do-you-know {
		margin: 0 auto;
		font-family: 'futura-pt';
		font-size: 1.8rem;
		letter-spacing: 0.06em;
		font-family: 'futura-pt';
		margin-top: 2.4%;
		margin-top: 55px;
		text-align: center;
		letter-spacing: 1px;
		@media #{$tablet} {
			font-size: 1.6rem;
			line-height: 147.81%;
			margin-bottom: 15px;
		}

		@media #{$mobile} {
			margin: 0 0 45px 0;
			font-size: 1.6rem;
			line-height: 154.81%;
			color: $erudite-purple;
		}
		@media #{$mobile} {
			display: none;
		}
	}
	.img-container {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
		@media #{$mobile} {
			flex-direction: column;
			width: 100%;
			margin-left: 0;
		}
		img {
			width: 25%;
			height: auto;
			@media #{$mobile} {
				width: 100%;
				margin-bottom: 40px;
			}
		}
		img.image-2,
		img.image-3 {
			@media #{$mobile} {
				display: none;
			}
		}
	}

	.crowdfunding-buttons {
		display: block;
		margin: 0 auto;
		text-align: center;
		.create-button {
			@include buttonStyler($chillFi-purple, $snow-white, none);
			margin: 25px 0px;
			font-size: 2.4rem;
			padding: 12px 22px;
			width: 280px;
			@media #{$mobile} {
				margin: 0 auto;
				font-size: 2rem;
				padding: 0.7rem 2rem;
				width: 200px;
			}
		}
	}
}

.dark-mode {
	.crowdfunding-container {
		.crowdfunding-header {
			color: $maastricht-blue;
		}
		.create-button {
			background-color: $maastricht-blue;
			color: $snow-white;
			&:hover {
				background-color: $snow-white;
				color: $maastricht-blue;
			}
		}
	}
}
