@import './Top/Top.scss';
@import './Spotlight/Spotlight.scss';
@import './CreateProject/CreateProject.scss';
@import './Hire/Hire.scss';
@import "./CarouselCard/CarouselCard.scss";
@import './Noteworthy/Noteworthy.scss';
@import './NearYou/NearYou.scss';
@import './RecommendedProjects/RecommendedProjects.scss';


.browse-container {
    width: 100%;
    max-width: 1500px; // You want to cap the container size at 1920 or smaller so that content doesn't go crazy wide. -fm
    margin: 0 auto;
    padding: 0 35px;
    section {
        margin: 40px auto;
    }
    .slider {
        width: 100%;
        margin: 0 auto 20px;
        padding: 0 0px;
        .slick-prev {
            z-index: 3;
            left: -25px;
            top: 50%;
        }
        .slick-next {
            z-index: 3;
            right: -25px;
            top: 50%;
        }
        .slick-arrow-container {
            .slick-next, .slick-prev {
                height: unset;
                width: unset;
                border-radius: 100%;
                font-size: 4rem;
                background-color: $silver-lining;
                color: rgba($static-grey, 0.6);
                @include subtleBoxShadow;
            }
        }
    }

    .skeleton-slider {
        display: flex;
    }
}

.dark-mode {
    .browse-container {
        .slider {
            .slick-arrow-container {
                .slick-next, .slick-prev {
                    background-color: darken($mirage, 25%);
                    color: darken($mirage, 10%);
                }
            }
        }
    }
}
