@import './Top/Top.scss';
@import './Spotlight/Spotlight.scss';
@import './CreateProject/CreateProject.scss';
@import './Hire/Hire.scss';
@import "./CarouselCard/CarouselCard.scss";
@import './Noteworthy/Noteworthy.scss';
@import './NearYou/NearYou.scss';
@import './RecommendedProjects/RecommendedProjects.scss';


.browse-container {
    width: 100%;
    max-width: 1500px; // You want to cap the container size at 1920 or smaller so that content doesn't go crazy wide. -fm
    margin: 0 auto;
    padding: 0 35px;
    section {
        margin: 40px auto;
    }
}

.dark-mode {
    .browse-container {
        .slider {
            .slick-arrow-container {
                .slick-next, .slick-prev {
                    background-color: darken($mirage, 25%);
                    color: darken($mirage, 10%);
                }
            }
        }
    }
}
