@import './Top/Top.scss';
@import './Spotlight/Spotlight.scss';
// @import './RecommendedProjects/RecommendedProjects.scss';
// @import './NearYou/NearYou.scss';
@import './CreateProject/CreateProject.scss';
// @import './Noteworthy/Noteworthy.scss';
@import './Hire/Hire.scss';
@import "./CarouselCard/CarouselCard.scss";


.startContainer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    @media #{$tablet} {
        padding: 0 60px;
    }
    section {
        margin: 10px auto;
    }

    .slider {
        width: 100%;
        margin: 1% auto 2%;
        padding: 0 0px;
        .slick-prev, .slick-next {
            height: unset;
            width: unset;
            &:before {
                color: $static-grey;
                opacity: 1;
                font-size: 4rem;
            }
            &:hover {
                &:before {
                    color: darken($static-grey, 10%);
                }
            }
        }
        .slick-prev {
            z-index: 3;
            left: -33px;
        }
        .slick-next {
            z-index: 3;
            right: -35px;
        }
    }

    .skeleton-slider {
        display: flex;
    }
}

