.browse-container .recommened-projects-section {
	.slider {
		width: 101.5%;
		margin-left: -1%;
		.carousel-card-inner.__recommended {
			height: 360px;
			.carousel-card-image {
				svg {
					// color: $ruby-enchantment;
					color: white;
					padding: 10px;
					font-size: 1.8rem;
				}
				img {
					height: 181px;
				}
			}
			.carousel-card-body {
				height: calc(100% - 181px);
				.carousel-card-body-descript {
					h5 {
						&:hover {
						}
					}
					.display-text-group {
						.displayed-text {
							.read-more-button {
							}
						}
					}
				}
				.carousel-card-body-money {
					div {
					}
					p {
					}
				}
			}
		}
	}
}
