@import './TabComponent/Lists.scss';
@import './TabComponent/Tabs.scss';

.user-dashboard-main {
	width: 100%;
	.user-dashboard-main-body {
		line-height: 3;
	}
}
.user-dashboard-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
