
.topContainer {
    width: 100%;
    margin: 11.66rem auto 2rem auto;
    letter-spacing: 0.16rem;
    font-weight: 500;
    .title {
        display: flex;
        font-size: 3.6rem;
        line-height: 1;
        .questionMark {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .roles {
        display: flex;
        justify-content: space-between;
        font-size: 2.8rem;
        line-height: 1;
        margin-top: 1.5rem;
        padding: 0.5rem 0;
        .role {
            background-color: $silver-lining;
            margin-right: 39px;
            width: 225px;
            height: 42.5px;
            display: flex;
            border-radius: 5px;
            .bar {
                width: 5%;
                max-width: 15px;
            }
            p {
                align-self: center;
                padding-left: 15px;
            }
        }
    }
}