@import './NoteworthyBox/NoteworthyBox.scss';

.noteworthyContainer {
    // height: 75%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    h4 {
        margin-bottom: 1%;
        font-size: 2.8rem;
        line-height: 3.7rem;
        font-family: 'futura-pt';

    }
    .noteworthyContent {
        // height: 200px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;  
    }
}