.user-dashboard-header {
	display: flex;
	flex-direction: column;
	.header-top {
		color: green;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		.project-status {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 152px;
			height: 40px;
			border-radius: 5px;
			background-color: #e3fff7;
			font-size: 18px;
			color: #15630e;
		}
	}

	.header-middle {
		display: flex;
		flex-direction: column;
		h3 {
			font-family: Futura;
			font-size: 14px;
			color: rgba(0, 23, 31, 0.9);
		}
		h2 {
			margin-bottom: 16px;
			font-family: Futura;
			font-size: 32px;
			color: #00171f;
		}
		.header-middle-description {
			max-width: 970px;
			width: 100%;
			font-size: 20px;
			line-height: 1.34;
			letter-spacing: normal;
			color: rgba(0, 23, 31, 0.8);
			margin-bottom: 40px;
		}
	}

	.header-bottom {
		display: flex;
		justify-content: space-between;
		img {
			width: 20%;
		}

		.bottom-left {
			display: flex;
		}

		.dueDate {
			display: flex;
			justify-content: left;
			align-items: center;
			width: 237px;
			height: 48px;
			border-radius: 7px;
			background-color: #f5f3ff;
			font-size: 16px;
			font-weight: 500;
			color: #00171f;
			margin-right: 40px;
			padding-left: 15px;
		}

		.bottom-icons {
			display: flex;

			img {
				width: 10%;
				margin-right: 40px;
			}
		}
		.team-members {
			width: 20%;
			display: flex;
			align-items: center;

			p {
				font-size: 16px;
				line-height: 1.55;
				letter-spacing: 0.96px;
				color: #00171f;
				margin-right: 16px;
				display: flex;
				align-items: center;
			}

			.member-icons {
				display: flex;
				width: 20%;
				img {
					width: 100%;

					&:last-of-type {
						margin-left: -2px;
					}
				}
				.count {
					font-size: 20px;
					margin-left: 5px;
				}
			}
		}
	}
}
.dark-mode {
	.header-middle {
		h2, h3, .header-middle-description {
			color: $snow-white;
		}
	}
	.header-bottom {
		.team-members {
			p {
				color: $snow-white;
			}
			.member-icons {
				.count {
					color: $snow-white;
				}
			}
		}
	}
}
