.user-dashboard-header {
	display: flex;
	flex-direction: column;
	.header-top {
		// color: green;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		.project-status {
			color: $upcoming-fg;
			background-color: $upcoming-bg;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 152px;
			height: 40px;
			border-radius: 5px;
			font-size: 1.8rem;
		}
	}

	.header-middle {
		display: flex;
		flex-direction: column;
		.header-middle-geo {
			font-size: 1.4rem;
			color: rgba(0, 23, 31, 0.9);
		}
		.header-middle-title {
			color: $machiavellian;
			font-size: 3.2rem;
			margin-bottom: 16px;
		}
		.header-middle-description {
			font-size: 2rem;
			color: rgba(0, 23, 31, 0.8);
			max-width: 970px;
			width: 100%;
			line-height: 1.34;
			letter-spacing: normal;
			margin-bottom: 40px;
		}
	}

	.header-bottom {
		display: flex;
		justify-content: space-between;
		.bottom-left {
			display: flex;
			width: 50%;
			.dueDate {
				background-color: $franks-grey;
				color: $machiavellian;
				font-size: 1.8rem;
				display: flex;
				justify-content: left;
				align-items: center;
				width: 237px;
				height: 40px;
				border-radius: 5px;
				margin-right: 40px;
				padding-left: 15px;
			}
			.bottom-icons {
				color: $chillFi-purple;
				font-size: 3.8rem;
				display: flex;
				align-items: center;
				svg {
					margin-right: 20px;
				}
			}
		}


		.team-members {
			display: flex;
			align-items: center;
			width: 50%;
			.member-icons {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				p {
					color: $machiavellian;
					font-size: 1.6rem;
					line-height: 1.55;
					letter-spacing: 0.96px;
					width: 100%;
					text-align: right;
					margin: auto 16px auto 0;
				}
				.count {
					font-size: 1.8rem;
					margin: auto 5px;
				}
			}
		}
	}
}
.dark-mode {
	.header-middle {
		h2,
		h3,
		.header-middle-description {
			color: $snow-white;
		}
	}
	.header-bottom {
		.bottom-icons {
			color: $maastricht-blue;
		}
		.team-members {
			p {
				color: $snow-white;
			}
			.member-icons {
				.count {
					color: $snow-white;
				}
			}
		}
	}
}
