.footer {
	background-color: $erudite-purple;
	height: 240px;
	color: $snow-white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5px;
	a {
		color: $snow-white;
		text-decoration: none;
		font-size: 26px;
		
	}
	.links-container {
		display: flex;
		justify-content: space-around;
		
		li {
			margin-top: 5rem;
		}
	}
	.social-links-container {
		text-align: center;
		margin-top: 45px;
		i{
			margin-right: 20px;
			margin-left: 20px;
			background-size: 100px;
			font-size: 30px;
		}
			
		}
	.bottom-footer{
		display:flex;
		height: 30px;
		align-self: flex-end;
		width: 100%;
		margin-top: 45px;
		padding: 5px;
		
	.copyright {
		margin: 0 auto;
		font-size: 1.3rem;
		align-self: flex-end;
		.italics {
			font-style: italic;
			font-weight: lighter;
			font-size: 10px;
		}
	}
	
	
}

}

.dark-mode {
	.footer {
		background-color: $police-blue;
		color: $maastricht-blue;
		a {
			color: $maastricht-blue;
		}
		.links-container {
			li {
				a {
					color: $dark-electric-blue;
				}
			}
		}
	}
}
