.footer {
	background-color: $erudite-purple;
	color: $snow-white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 15px;
	a {
		color: $snow-white;
		text-decoration: none;
		font-size: 26px;
		@media #{$mobile} {
			font-size: 29px;
		}
	}
	.links-container {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		width: 79%;
		@media (max-width: '750px') {
			flex-direction: column;
			margin: 0 auto;
			text-align: center;
			padding: 0;
		}

		li {
			margin-top: 5rem;
			@media (max-width: '750px') {
				margin: 1.4rem 0rem;
				padding: 0.25rem;
			}
			@media #{$mobile} {
				margin-top: auto;
			}
		}
	}
	.social-links-container {
		text-align: center;
		margin-top: 45px;
		i {
			margin-right: 20px;
			margin-left: 20px;
			background-size: 100px;
			font-size: 30px;
			@media #{$mobile} {
				font-size: 33px;
			}
		}
	}
	.bottom-footer {
		display: flex;
		height: 30px;
		align-self: flex-end;
		width: 100%;
		margin-top: 45px;
		padding: 5px;

		.copyright {
			margin: 0 auto;
			font-size: 1.3rem;
			align-self: flex-end;
			.italics {
				font-style: italic;
				font-weight: lighter;
				font-size: 10px;
			}
		}
	}
}

.dark-mode {
	.footer {
		background-color: $police-blue;
		color: $maastricht-blue;
		a {
			color: $maastricht-blue;
		}
		.links-container {
			li {
				a {
					color: $dark-electric-blue;
				}
			}
		}
	}
}
