.footer {
	background-color: $erudite-purple;
	height: 14rem;
	color: $snow-white;
	@media #{$mobile} {
		height: 36.6rem;		
		}
	a {
		color: $snow-white;
		text-decoration: none;
		font-size: 25px;
		margin-right: 25px;
		margin-top: 100%;
		&:hover {
			transform: scale(1.05);
		}
		@media #{$mobile} {
			border: 1px solid green;
		}
	}
	.links-container {
		display: flex;
		max-width: 78%;
		justify-content: space-around;
		margin: auto;
		@media #{$mobile} {
			// justify-content: space-evenly;
			border: 1px solid red;
			height: 80%;
			flex-direction: column;	
			margin: 0 0 0 0%;
			

		}
		li {
			max-height: 4rem;
			margin-top: 5rem;
			margin-left: 10px;
			&:hover {
				transform: scale(1.04);
			}
			@media #{$mobile} {
				margin-top: auto;
				border: 1px solid pink;	
				
				}
		}
	}
	.copyright {
		display: inline-block;
		font-size: 1.3rem;
		height: auto;
		width: auto;
		margin-left: 44%;
		margin-top: 5%;
		line-height: 0;
	}
	.italics {
		font-style: italic;
		font-weight: lighter;
		font-size: 10px;
	}
	.social-links-container {
		position: absolute;
		display: flex;
		justify-content: space-around;
		width: 4%;
		right: 5%;
	}

}

.dark-mode {
	.footer {
		background-color: $police-blue;
		color: $maastricht-blue;
		a {
			color: $maastricht-blue;
		}
		.links-container {
			li {
				a {
					color: $dark-electric-blue;
				}
			}
		}
	}
}
