@import '../../styles/variables';
@import '../../styles/mixins';
nav {
	display: flex;
	justify-content: space-between;
	height: 90px;
	padding: 5px 5px;
	@include fixedNav;
	justify-content: space-around;
	.dark-mode-emoji {
		max-width: 45px;
	}

	@media #{$mobile} {
		background: #4840ba;
		height: 99px;
	}

	a {
		// background: yellow;
		margin-right: 8px;
		text-decoration: none;
		color: inherit;
	}
	.logo {
		display: flex;
		max-width: 25%;
		// height: 80%;
		position: absolute;
		// top: 0.72%;
		position: absolute;
		left: 4.5%;
		// top: 16%;
		margin-top: -7.5px;
		img {
			max-height: 90px;
		}
		h2 {
			align-self: center;
			margin-bottom: 0.5%;
			font-size: 1.8rem;
			font-weight: lighter;
			letter-spacing: 0.06em;
			color: $chillFi-purple;
		}
	}
	ul {
		// border: 1px solid red;
		display: flex;
		justify-content: flex-end;
		width: 90%;
		margin: auto;
		@media #{$mobile} {
			display: none;
		}
		.navLinks {
			// border: 1px solid red;
			margin-right: 85px;
			margin-top: 20px;
			&:last-child {
				margin-right: 300px;
			}
			a {
				color: $chillFi-purple;
				font-size: 24px;
				letter-spacing: 0.06em;
			}
		}
		button {
			@include buttonStyler($chillFi-purple, $snow-white, solid);
			font-size: 24px;
			margin: auto 0.4% auto 1%;
			height: 73px;
			width: 200px;
			vertical-align: center;
			padding-bottom: 30px;
		}
		.login {
			@include buttonStyler($snow-white, $chillFi-purple, solid);
			height: 70px;
			margin: auto 0.4% auto 1%;
			width: 200px;
			padding-bottom: 30px;
		}
	}
}
