@import '../../styles/variables';
@import '../../styles/mixins';
@import './Hamburger';
@import './Overlay';



nav {
	display: flex;
	height: 90px;
	padding: 5px 0px;
	z-index: 999;
	@media #{$mobile} {
		background: $chillFi-purple;
	}
	@media #{$tablet} {
		width: 100%;
		position: sticky;
		top:0;
		background: $chillFi-purple;
		height: 90px;
	}
	@media #{$mobile} {
		background: $chillFi-purple;
	}
	

	.userIcon {
		background-color: $static-grey;
		width: 3.7rem;
		height: 3.7rem;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.leftNav {
		align-self: center;
		margin-left: 10px;
		a{

			text-decoration: none;
		}
		.logo {
			display: flex;
			margin: 20px;
			// position: absolute;
			// left: 4.5%;


			span {
				@media #{$tablet} {
					color:$abatross;
				}
				font-family: "Futura-PT";
				align-self: center;
				font-size: 2.8rem;
				letter-spacing: 0.09em;
				color: $chillFi-purple;
			}
		}
	}
	.right-nav {
		color: $chillFi-purple;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 2.3rem;
		width: 100%;
		margin-right: 20px;
		// a {
		// 	// text-decoration: none;
		// 	@media #{$tablet} {
		// 		display: none;
		// 	}
		// }
		ul {
			display: flex;
			align-items: center;
		
			.navLinks {
				margin-right: 65px;
				@media #{$tablet} {
					display: none;
					margin-right: 0px;
				}
				&:last-child {
					margin-right: 300px;
				}
				a {
					color: $chillFi-purple;
					letter-spacing: 0.06em;
					line-height: 0.9;
				}
			}

			.logout{
				display:none;
				
			}
			.user {
				display: flex;
				align-items: center;
				cursor: pointer;
				div {
					margin-right: 10px;
					span{
						@media #{$tablet}{
							color: white;
						}
						@media #{$mobile}{
							display: none;
						}
					}
				}
				.userIcon {
					width: 40px;
					height: 40px;
					object-fit: cover;
					border-radius: 100%;
					&:hover{
						cursor: pointer;
					}
				}
			}
			.login {
				@include buttonStyler($chillFi-purple, $snow-white, none, auto 10px auto 0);
			}
			button {
				@include buttonStyler($chillFi-purple, $snow-white, none, auto 10px auto 0);
				font-size: 24px;
				height: 60px;
				width: 200px;
				vertical-align: center;
				@include subtleBoxShadow;
				@media #{$tablet} {
					display: none;
				}
			}
			.dropdown {
				background-color: $snow-white;
				color: $chillFi-purple;
				border: 3px solid $chillFi-purple;
				border-radius:6px;
				position: absolute;
				top: 80px;
				right: 0;
				width: 250px;
				padding: 30px 10px 20px 40px;
				margin-right: 25px;
				z-index: 10;
				@media #{$tablet} {
					display: none;
				}
				.dropdown-option {
					margin: 15px 0;
					cursor: pointer;
				}
			}
		}
		
		.dark-mode-emoji {
			font-size: 2rem;
			display: flex;
			align-items: center;
			margin-right: 15px;
			padding-left: 15px;
			@media #{$tablet}{
				display: none;
			}
			svg {
				color: $chillFi-purple;
			}

		}
	}
}

.dark-mode {
	nav {
		background-color: $machiavellian;
		.logo {
			img {
				filter: hue-rotate(-25deg);
			}
			h2 {
				color: $maastricht-blue;
			}
		}
		ul {
			.navLinks a {
				color: $maastricht-blue;
			}
			.login {
				color: $snow-white;
				background-color: $maastricht-blue;
				&:hover {
					color: $maastricht-blue;
					background-color: $snow-white;
				}
			}
			.register {
				color: $snow-white;
				background-color: $maastricht-blue;
				&:hover {
					color: $maastricht-blue;
					background-color: $snow-white;
				}
			}
			.user {
				color: $maastricht-blue;
			}
		}
	}
	.right-nav .dark-mode-emoji {
		svg {
			color: $maastricht-blue;
		}
		@media #{$tablet}{
			display: none;
		}
	}
}

nav.nav-frosted {  
	// // This is the frosted glass effect
    // background-color: rgba($erudite-purple, 0.75);
	// backdrop-filter: blur(8px); 
	width: 100%;
	position: fixed;
	@media #{$mobile} {
		background: inherit;
		height: 90px;
	}
	@media #{$tablet} {
		background: inherit;
		height: 90px;
	}
}