.user-nav {
    display: flex;
    justify-content: flex-end;
    padding: 33px;
    .user-nav-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            padding-right: 10px;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 30px;
            max-height: 30px;
            object-fit: contain;

            border-radius: 30px;
            background-color: $ruby-enchantment;
        }
    }
}