@import '../../../styles/variables';

.squad-container {
	max-width: 1920px;
	width: 100%;
	margin-bottom: 10rem;
	@media #{$mobile} {
		margin-bottom: 15rem;
	}

	.title {
		text-align: center;
		font-size: 90px;
		font-size: 4.7vw;
		line-height: 1.61;
		letter-spacing: 5.4px;
		color: $erudite-purple;

		@media #{$tablet} {
			font-size: 5vw;
		}
		@media #{$mobile} {
			font-size: 9vw;
		}
	}
	.description {
		text-align: center;
		font-size: 1.15vw;
		line-height: 1.61;
		letter-spacing: 1.32px;
		margin-bottom: 9.7rem;

		@media #{$tablet} {
			font-size: 1.6vw;
		}
		@media #{$mobile} {
			font-size: 3vw;
		}
	}
	.grid-container {
		padding: 0 13.8%;

		@media #{$mobile} {
			padding: 0 11%;
		}

		.squad {
			display: grid;
			grid-gap: 0;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: minmax(0, 4.83%);
			grid-template-areas:
				'anthony	        .           .'
				'anthony        kerry         .'
				'anthony        kerry        alex'
				'anthony        kerry        alex'
				'  .            kerry        alex'
				'ruth             .          alex'
				'ruth           jose           .'
				'ruth           jose         elan'
				'ruth           jose         elan'
				' .             jose         elan'
				'omar            .           elan'
				'omar          skyelar        .'
				'omar          skyelar      clark'
				'omar          skyelar      clark'
				' .            skyelar      clark'
				'frank           .          clark'
				'frank       theia        .  '
				'frank        theia      Lucy'
				'frank       theia       Lucy'
				'  .         theia       Lucy'
				'  .             .         Lucy';

			@media #{$tablet} {
				grid-template-columns: repeat(2, 1fr);
				grid-template-areas:
					'anthony	        .  '
					'anthony        kerry'
					'anthony        kerry'
					'anthony        kerry'
					'  .            kerry'
					'ruth             .  '
					'ruth           jose '
					'ruth           jose '
					'ruth           jose '
					' .             jose '
					'omar            .   '
					'omar          skyelar'
					'omar          skyelar'
					'omar          skyelar'
					' .            skyelar'
					'frank           .    '
					'frank         alex'
					'frank         alex'
					'frank         alex'
					'  .           alex'
					'  elan          . '
					'  elan       clark'
					'  elan       clark'
					'  elan       clark'
					'    .        clark'
					'  theia           .'
					'  theia       Lucy'
					'  theia       Lucy'
					'  theia       Lucy'
					'    . 		   Lucy';
			}
			@media #{$mobile} {
				display: flex;
				flex-direction: column;
			}
			.person {
				position: relative;
				width: 100%;

				@media #{$mobile} {
					width: 100%;
					height: 55rem;
					margin-bottom: 15%;
				}

				.name {
					padding: 1rem 1rem 0 1rem;
					height: 7%;
					font-size: 1.57vw;
					line-height: 1.61;
					letter-spacing: 1.8px;
					color: $snow-white;

					@media #{$tablet} {
						font-size: 2.57vw;
					}

					@media #{$mobile} {
						font-size: 5vw;
					}
				}
				.role {
					padding: 1rem 1rem 0 1rem;
					height: 13%;
					font-size: 1.2vw;
					line-height: 1.61;
					letter-spacing: 1.38px;
					color: $snow-white;

					@media #{$tablet} {
						font-size: 1.6vw;
					}
					@media #{$mobile} {
						font-size: 3vw;
					}
				}
				.img-container {
					padding: 0;
					margin: 0 auto;
					width: 100%;
					height: 80%;

					@media #{$tablet} {
						height: 70%;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			.overlay {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.5);
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: 0.5s ease;
				padding: 0 1rem;

				.text {
					color: white;
					font-size: 1.3vw;
					text-align: left;
					line-height: 160.81%;
					letter-spacing: 0.06rem;
					margin-top: 10px;
				}
				.social {
					font-size: 1.55vw;
					i {
						margin: 7.5px;
						color: $snow-white;
					}
				}
			}
			.person:hover .overlay {
				cursor: pointer;
				height: 70%;
			}
		}

		.index0 {
			grid-area: anthony;
		}
		.index1 {
			grid-area: kerry;
		}
		.index2 {
			grid-area: alex;
		}
		.index3 {
			grid-area: ruth;
		}
		.index4 {
			grid-area: jose;

			img {
				width: 120%;
			}
		}
		.index5 {
			grid-area: elan;
		}
		.index6 {
			grid-area: omar;
		}
		.index7 {
			grid-area: skyelar;
		}
		.index8 {
			grid-area: clark;
		}
		.index9 {
			grid-area: frank;
		}
		.index10 {
			grid-area: theia;
			// @media #{$tablet} {
			// 	display: none;
			// }
			// @media #{$mobile} {
			// 	display: none;
			// }
		}
		.index11 {
			grid-area: Lucy;
		}
	}
}
.dark-mode {
	.title {
		color: $snow-white;
	}
}
