.squad-container {
	.title {
		text-align: center;
		font-family: Futura;
		font-size: 90px;
		line-height: 1.61;
		letter-spacing: 5.4px;
		color: #0b096f;
	}
	.description {
		text-align: center;
		font-family: Futura;
		font-size: 22px;
		line-height: 1.61;
		letter-spacing: 1.32px;
		color: #000000;
		margin-bottom: 9.7rem;
	}
	.flex-container {
		display: flex;
		justify-content: center;

		.squad-flex-one,
		.squad-flex-two,
		.squad-flex-three {
			display: flex;
			flex-direction: column;

			.person {
				position: relative;
				padding: 1rem 1rem 0 1rem;
				width: 46.2rem;
				height: 65.5rem;
				margin-bottom: 17.3rem;

				.name {
					height: 7%;
					font-family: Futura;
					font-size: 30px;
					line-height: 1.61;
					letter-spacing: 1.8px;
					color: #ffffff;
				}
				.role {
					height: 13%;
					font-family: Futura;
					font-size: 23px;
					line-height: 1.61;
					letter-spacing: 1.38px;
					color: #ffffff;
				}
				.img-container {
					margin: 0 auto;
					width: 100%;
					height: 80%;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}

			.overlay {
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: #008cba;
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: 0.5s ease;

				.text {
					color: white;
					font-size: 20px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
				}
			}

			.person:hover .overlay {
				cursor: pointer;
				height: 50%;
			}
		}

		.squad-flex-two {
			margin-top: 17.3rem;
		}
		.squad-flex-three {
			margin-top: calc(17.3rem * 2);
		}
	}
}
