.card {
	margin: 0 20px;
	margin-bottom: 3%;
	text-align: center;
	transition: 0.2s all ease-in-out;
	width: 25%;
	&:hover {
		cursor: pointer;
		color: $ocean-blue;
	}
	
	img {
		width: 100%;
		border-radius: 10px;
		transition: 0.2s all ease-in-out;
		&:hover {
			transform: scale(1.01);
			@include subtleBoxShadow;
		}
	}

	h4 {
		margin: 30px auto 0 auto;
		max-width: 407px;
		font-size: 36px;
	}

	p {
		font-size: 23px;
		max-width: 405px;
		margin: 30px auto 0 auto;
	}
}


.dark-mode {
	.card {
		&:hover {
			color: $maastricht-blue;
		}
	}
}
