.dashboard-main.donation.section {
    padding: 40px 0 15px 0;
    section.donation-card.section {
        background-color: $franks-grey;
        width: 100%;
        padding: 20px 30px;
        .dashboard-donation-container {
            background-color: $snow-white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            font-size: 1.8rem;
            padding: 0 15px;
            margin: 20px auto;
            border: none;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .donation-image-section {
                width: 200px;
                height: 100%;
                .donation-image-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        object-fit: cover;
                        width: 200px;
                        height: 200px;
                        border-radius: 5px;
                    }
                }
            }
            .donation-details {
                width: 85%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin: 10px 30px auto;
                padding-bottom: 30px;
                .donation-details-header {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-between;
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        cursor: pointer;
                        svg {
                            color: $chillFi-purple;
                            font-size: 1rem;
                        }
                    } 
                    .donation-details-completion p {
                        background-color: $franks-grey;
                        color: $black-void;
                        font-size: 1.6rem;
                        padding: 10px 15px;
                        border-radius: 5px;
                        margin: 10px 0;
                        top: 10px;
                        bottom: 10px;
                        display: inline-block;
                    }
                }
                p {
                    font-size: 1.8rem;
                }
                hr {
                    margin: 15px 0;
                }
                .donation-progress {
                    width: 50%;
                    margin: 0 auto 0 0;
                    .progress-bar {
                        margin: 0 0 10px 0;
                    }
                    .donation-progress-total {
                        font-size: 1.6rem;
                    }
                }
            }
            .donation-amount {
                width: 15%;
                max-width: 150px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: flex-end;
                h3 {
                    width: 100%;
                    text-align: right;
                }
                i {
                    font-size: 1.4rem;
                    text-align: right;
                }
            }
        }
    }
}

.dark-mode {
    .dashboard-main.donation.section {
        section.dashboard-donation-card.section {
            background-color: $darkness;
            .dashboard-donation-container {
                background-color: $bleached-black;
            }
        }
    }
}

