.dashboard-sidebar {
	width: 25%;
	height: 100%;
	text-align: center;
	.sidebar-top {
		.user-picture {
			width: 164px;
			height: 164px;
			object-fit: contain;
			border-radius: 50%;
		}
		h3 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.44px;
		}
		h6 {
			color: $blue-valentine;
			text-align: right;
		}
		p {
			color: $machiavellian;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.08px;
		}
	}
	.dashboard-stats {
		color: $machiavellian;
		display: flex;
		justify-content: space-evenly;
		margin: 10% 0 5% 0;
		font-family: 'Roboto';
		p {
			font-size: 1.3rem;
			letter-spacing: 0.78px;
		}
	}
	.info-container {
		margin: 5% 0;
		font-family: 'Roboto';
		p {
			color: $mirage;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 0.96px;
		}
		span {
			font-size: 1.8rem;
			font-weight: 500;
			color: $machiavellian;
			line-height: 1.61;
			letter-spacing: 1.08px;
		}
		.info {
			display: flex;
			justify-content: space-between;
			.text {
				display: flex;
				flex-direction: column;
				text-align: left;
			}
			.percent {
				font-family: 'Roboto';
				font-size: 2rem;
				letter-spacing: 1.2px;
				color: $machiavellian;
			}
			.sidebar-icon-container {
				@include bottomBoxShadow;
				font-size: 3.2rem;
				color: $chillFi-purple;
				background-color: $franks-grey;
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				.sidebar-icon {
					padding: 10px;
				}
			}
			// .icon {
			// 	width: 48px;
			// 	height: 47px;
			// 	border-radius: 12px;
			// }
		}
		.progress, .info {
			margin: 6% 0;
		}
	}
	.dashboard-sidebar-footer {
		display: flex;
		flex-direction: column;
		margin: 5% 0;
		h5 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.2px;
			margin-bottom: 5%;
		}
		.a-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			.achievement {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 3.5% 3.5%;

				.a-icon {
					width: 75px;
					height: 75px;
				}
				.number {
					background-color: $franks-grey;
					@include bottomBoxShadow;
					font-family: 'Roboto';
					font-size: 1.3rem;
					font-weight: 500;
					letter-spacing: 0.72px;
					width: 45px;
					height: 30px;
					position: relative;
					bottom: 10%;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		a {
			color: $machiavellian;
			font-size: 1.6rem;
		}
	}
}
.dark-mode {
	.sidebar-top {
		h3,
		h6,
		p {
			color: $snow-white;
		}
	}
	.dashboard-stats {
		color: $snow-white;
	}
	.info-container {
		p,
		span {
			color: $snow-white;
		}
		.info {
			.percent {
				color: $snow-white;
			}
		}
	}
	.dashboard-sidebar-footer {
		h4 {
			color: $snow-white;
		}
		.number {
			background-color: $snow-white;
			color: $black-void;
		}
	}
}
