

.carousel-card {
    .carousel-card-inner {
        background-color: $snow-white;
        margin: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        @include subtleBoxShadow;
        .carousel-card-image {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            svg {
                position: absolute;
                color: $ruby-enchantment;
                padding: 10px;
                font-size: 1.8rem;
                z-index: 1;
            }
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
            }
        }
        .carousel-card-body {
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: calc(100% - 140px);
            justify-content: space-between;
            .carousel-card-body-descript {
                h5 {
                    margin-top: 10px;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover {
                        @include text-shadow;
                    }
                }
                .display-text-group {
                    margin: 10px 0;
                    font-size: 1.4rem;
                    .displayed-text {
                        .read-more-button {
                            display:none;
                        }
                    }
                }
            }
            .carousel-card-body-money {
                div {
                    background-color: $erudite-purple;
                }
                p {
                    margin: 10px 0;
                    font-size: 1.4rem;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    } 
}



.dark-mode {
    .carousel-card {
        .carousel-card-inner {
            color: $snow-white;
            background-color: $darkness;
            .carousel-card-body {
                .carousel-card-body-money {
                    div {
                        background-color: $maastricht-blue;
                    }
                }
            }
        }
    }
}

