.droppy-container {
	margin: 6px 0 10px 0;
	.dropzone {
		background-color: $silver-lining;
		color: $static-grey;
		border-radius: 5px;
		border: 2px dashed $static-grey;
		padding: 20px;
		font-size: 1.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		&:active,
		&:focus {
			outline: none;
		}
	}
}

.thumbs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;

	.thumb {
		margin: 8px 13px 8px 0;

		.featuredPreview {
			border: 2px solid $chillFi-purple;
		}

		&-delete {
			color: $snow-white;
			background: $chillFi-purple;
			border-radius: 100px;
			padding: 2px;
			position: absolute;
			z-index: 2;
			margin-left: 137px;
			margin-top: -8px;
			width: 20px;
			height: 20px;
		}

		&-img {
			display: block;
			object-fit: cover;
			width: 150px;
			height: 100px;
			border-radius: 5px;
			border: 2px solid transparent;
			@include cardBoxShadow;
		}
	}
}
