.creatorProfile {
	margin-top: 60px;
	border-left: 7px solid #544cbe;
	background: #f9f8fd;
	letter-spacing: 0.06em;
	width: 52%;

	@media #{$tablet-small} {
		border-left: none;
		width: 100%;
	}

	.profile-center {
		display: flex;
		align-content: center;
		@media #{$tablet-small} {
			margin: 0 auto;
			width: 90%;
		}
	}

	h2 {
		font-size: 2.5rem;
		line-height: 27px;
		margin-bottom: 10px;

		@media #{$tablet-small} {
			font-size: 2.2rem;
			line-height: 20px;
		}
	}

	p {
		font-size: 1.5rem;
		@media #{$tablet-small} {
			font-size: 1.5rem;
			line-height: 17px;
		}
	}

	.profilePic {
		width: 120px;
		border-radius: 50%;
		margin: 32px;

		@media #{$tablet-small} {
			width: 35%;
			margin: 25px 25px 25px 0;
		}
	}

	.creatorInfo {
		margin: 35px 25px 25px 0;
		@media #{$tablet-small} {
			margin-top: 25px;
			width: 100%;
		}
		.email {
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			margin-top: 17px;

			h2 {
				font-size: 2rem;
				line-height: 16px;

				@media #{$tablet-small} {
					font-size: 1.5rem;
					line-height: 16px;
				}
			}

			img {
				max-height: 18px;
				width: 20%;
				margin-right: 6px;

				@media #{$tablet-small} {
					width: 8%;
				}
			}
		}
	}
}
