.main-container {
	margin-bottom: 8.4%;
	.title {
		max-width: 135.9rem;
		width: 100%;
		font-size: 2.6vw;
		line-height: 1.61;
		letter-spacing: 2.88px;
		text-align: center;
		margin: 0 auto;
		color: $erudite-purple;
		margin-bottom: 3.2%;
	}

	.main-content {
		display: flex;
		justify-content: space-between;
		.main-left {
			width: 52%;
			margin: -14% 0 0 0;

			img {
				width: 94%;
			}
		}
		.main-right {
			width: 68%;
			p {
				padding-right: 30%;
				font-size: 1.15vw;
				line-height: 1.61;
				letter-spacing: 1.32px;
				margin-bottom: 3.1%;
			}
		}
	}
}
.dark-mode {
	.title {
		color: $snow-white;
	}
}
