.projectCommentsContainer {
    font-size: 2.4rem;
    line-height: 32px;
    letter-spacing: 0.06em;
    max-width: 1645px;
    margin-top: 80px;

    @media #{$mobile} {
        padding: 0 5.5% 0 5.5%;
    }

    .user-icon {
        margin: 0;
        margin-right: 3px
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 30%;
        
        *:focus {
            outline: none;
        }
        button {
            @include buttonStyler($chillFi-purple, $snow-white, 0, 0);
            padding: 10px;
            border: none;
            cursor: pointer;
            margin-top: 8px;
            align-self: flex-end;
        }

        textarea {
            resize: none;
            margin: 0;
            height:inherit
        }
    }

    .commentsTitle {
        margin-bottom: 37px;
    }

    .comment-inner-container {
        width: 85%;

        
    }
    .dot-position-div {
        display: flex; 
        justify-content: space-between
    }
    .commentFlex {
        display: flex;
        margin-bottom: 15px;
        width: 40%;
        @media #{$mobile} {
            width: 100%;
            margin-top: 20px
        }

        .dot-container {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-top: 7px;
            padding: 0 4px;

            .dot {
                width: 3px;
                height: 3px;
                background: gray;
                border-radius: 500%;
                margin-bottom: 4px;
            }
        }

        .settings-drop {
            .settings-drop-buttons {
                display: flex;
                flex-direction: column;
                margin-left: -27px;
                background:#4840ba;
                border-radius: 5px; 
                position: absolute;
                button {
                    background:#4840ba;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-size: 1.5rem;
                    margin: 5px
                }
            }
        }


        .commenter-name-flex {
            display: flex;

            p{
                margin-right: 10px;
                font-size: 2rem
            }
        }

        img {
            width: 8%;
            height: 2.5%;
            border-radius: 50%;
            margin-right: 1.1%;

            @media #{$mobile} {
                width: 15%;
                height: 5%;
                border-radius: 50%;
                margin-right: 3.1%
            }
        }

        .each-comment-container {
            max-width: 476px;
            width: 100%
        }

        .comment {
            font-size: 1.5rem;
            line-height: 27px;
            letter-spacing: 0.06em;
            width: 100%;
            overflow-wrap: break-word;
            margin-right: 20px;
            @media #{$mobile} {
                font-size: 1.5rem;
                line-height: 22px;
            }
        }

        .lowerCommentSide {
            
            form {
                width: 100%;

                .edit-form-buttons {
                    display: flex;
                    justify-content: flex-end;
                    width: 79.6%;
                    margin-top: -3px;

                    button {
                        margin-left: 10px;
                        background: #4840ba;
                        border: none;
                        color: white;
                        border-radius: 3px;
                        height: 30px;
                        width: 60px;
                        cursor: pointer;
                        font-family: 'futura-pt';
                        font-size: 1.5rem;
                        
                    }
                }
            }
            textarea {
                width: 75%;
                overflow: visible;
                resize: none
            }
            p {
                font-size: 1.4rem;
                line-height: 19px;
                letter-spacing: 0.06em;
                color: #9F9FA1;
            }
        }
    }

    .comment-button-container {
        width: 33%;
        text-align: center;

        @media #{$mobile} {
            width: 100%;
        }
        button {
            margin: 30px auto 0;
            width: 75%;
            border: 1px solid #4840BA;
            box-sizing: border-box;
            border-radius: 5px;
            background: $snow-white;
            color: #4840BA;
            font-size: 2rem;
            line-height: 21px;
            letter-spacing: 0.06em;
            padding: 16px 0 16px 0;
            cursor: pointer;

            @media #{$mobile} {
                width: 100%;
                font-size: 1.8rem;
                line-height: 24px;
                padding: 10px 0 10px 0;
            }
        }
    }
    
}
