h1 {
    background: $black-void;
    width: 500px;
    height: 500px;
    color: $snow-white;
}

.projects-home {
	margin-top: 100px;

	.cta-container {
		display: flex;
		justify-content: space-around;
		margin: 3rem 0;

		img {
			max-width: 31%;
			scale: both;
		}
		.cta {
			max-width: 32%;
			max-height: 33%;
			text-align: left;
			.cta-title {
				color: $chillFi-purple;
				height: auto;
			}
			p {
				margin: 2% auto;
			}
		}
    }
    .ft-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5rem 0;
        padding: 0 2rem;
        h3, p, a, .featured-trades {
            margin: 1rem 0;
        }
        h3 {
            color: $chillFi-purple;
            font-size: 3rem;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            font-style: italic;
            font-size: 1.2rem;
            text-decoration: none;
            &:hover {
                color: $ocean-blue;
                text-decoration: underline;
            }
        }
        .featured-trades {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .ft-box {
                display: flex;
                flex-direction: column;
                transition: 0.2s all ease-in-out;
                max-width: 40rem;
                &:hover{
                    transform: scale(1.15);
                    cursor: pointer;
                    color: $ocean-blue;
                }
                img {
                    border-radius: 0.5rem;
                    width: 100%;
                }
                p {
                    color: $chillFi-purple;
                    text-align: center;
                    font-size: 1.4rem;
                    margin-top: 1rem;
                }
            }

        }
    }
}
