<<<<<<< HEAD
.projects-home {
    // position: absolute;
    margin-top: 100px;
=======
h1 {
    background: black;
    width: 500px;
    height: 500px;
    color: white
}

.projects-home {
    margin-top: 5.8%
>>>>>>> 7b5cab6cb59d8d616b3344bbd38c8128c8eb8396
}