// // .lists .list.column {
// // 	flex-direction: column;
// // 	text-align: center;
// // }

// .list .item {
// 	background-color: $franks-grey;
// 	display: flex;
// 	justify-content: space-between;
// 	padding: 30px 15px 30px 0;
// 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
// 	margin: 20px 0;
// 	border-radius: 5px;
// 	.item-card-indicator.left-bg {
// 		width: 10px;
// 		margin-right: 20px;
// 	}
// 	.item-card-container {
// 		width: 100%;
// 		display: flex;
// 		justify-content: space-between;
// 		.item-card-img-container {
// 			display: flex;
// 			align-items: center;
// 			margin-right: 10px;
// 			img {
// 				width: 60px;
// 			}
// 		}
// 		.item-card-text {
// 			width: 80%;
// 			color: $machiavellian;
// 			display: flex;
// 			flex-direction: column;
// 			padding-right: 20px;
// 			h5 {
// 				// color: $black-void;
// 				margin-bottom: 10px;
// 			}
// 			.description {
// 				font-family: 'Roboto';
// 				font-size: 1.3rem;
// 				font-style: italic;
// 				line-height: 1.34;
// 				letter-spacing: 0.78px;
// 				margin-bottom: 0;
// 			}
// 			.comment {
// 				font-family: 'Roboto';
// 				font-size: 1.3rem;
// 				line-height: 1.34;
// 				letter-spacing: 0.72px;
				
// 			}
// 		}
// 		.item-card-icon-container {
// 			width: 20%;
// 			display: flex;
// 			align-items: center;
// 			justify-content: flex-end;
// 		}	
// 	}
// }


// .list .item.activity {
// 	padding: 25px 20px;
// 	.item-activity-container {
// 		width: 100%;
// 		.item-activity-category {
// 			font-size: 1.4rem;
// 			font-family: "Roboto";
// 			font-weight: lighter;
// 			width: 100%;
// 			text-transform: uppercase;
// 			margin: 0;
// 		}
// 		.item-activity-body {
// 			width: 100%;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			.item-activity-img-container {
// 				width: 120px;
// 				margin-right: 15px;
// 				margin-top: 20px;
// 				img {
// 					width: 100%;
// 					object-fit: cover;
// 					border-radius: 100%;
// 				}
// 			}
// 			.text {
// 				width: 85%;
// 				padding: 0 20px 0 0;
// 				h5 {
// 					margin-bottom: 10px;
// 				}
// 				p {
// 					font-family: "Roboto";
// 					font-size: 1.4rem;
// 					font-weight: lighter;
// 				}
// 			}
// 			.item-activity-date {
// 				width: 15%;
//     			min-width: 130px;
// 				display: flex;
// 				justify-content: flex-end;
// 				text-align: right;
// 			}
// 		}
// 	}
// }


// .dark-mode {
// 	.list .item {
// 		background-color: $bleached-black;
// 		.item-card-container {
// 			.item-card-text {
// 				color: $snow-white;
// 			}
// 		}
// 	}
// }
