
.loginContainer {
	background: $machiavellian;
	color: $snow-white;
	height: 100%;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06rem;
	.revitalizeLogo-container {
		height: 100px;
		width: 100px;
		text-align: center;
		img {
			width: 100%;
		}
	}
		
	.loginForm {
		padding-bottom: 140px;
		width: 50%;
		max-width: 700px;
		min-width: 500px;
		width: 80%;
		margin: 0 auto;
		// width: 40%;
		// height: 100%;

		.loginThirdParty {
			width: 65%;
			margin: 0 auto;

			.loginWelcome {
				text-align: center;
				color: $snow-white;
			}

			button {
				width: 100%;
				margin-top: 30px;
				height: 50px;
				border-radius: 8px;
				border: none;
				background: $snow-white;
				cursor: pointer;

				.loginButton {
					display: flex;
					align-items: center;
					margin: 0 20px;
					img {
						margin-right: 20px;
						height: 40px;
						width: 40px;
					}
				}
			}
		}

		.loginMiddle {
			width: 65%;
			margin: 0 auto;
			padding: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.loginLine {
				height: 1px;
				width: 40%;
				background: $snow-white;
			}
		}


		.loginLocal {
			width: 65%;
			margin: 0 auto;

			margin-top: 40px;
			display: flex;
			flex-direction: column;
			letter-spacing: 0.06em;


			span {
				text-decoration: underline;
				cursor: pointer;
			}
			.registerSpaceAbove {
				margin-top: 40px;
			}

			input {
				height: 35px;
				padding: 0px 5px;
			}

			.registerPass {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			button {
				height: 50px;
				background: $ruby-enchantment;
				width: 50%;
				margin: 0 auto;
				margin-top: 60px;
				border: none;
				color: white;
				font-size: 20px;
				border-radius: 5px;
				cursor: pointer;
			}
		}
		.loginNoAccount {
			width: 60%;
			margin: 20px auto 0;
			p {
				text-align: center;
			}
		}
	}

	.imgContainer {
		width: 100%;
		background-size: 80%;
		background-attachment: fixed;
		background-image: url('../assets/AuthPages/building-work-crew-03.jpg');
		background-position-x: right;
		background-position-y: top;
		mix-blend-mode: luminosity;
	}
}
