.loginContainer {
	background: #0b096f;
	color: $snow-white;
	height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06em;

	.revitalizeLogo-container {
		height: 100px;
		width: 100px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	.loginForm {
		width: 40%;
		height: 100%;

		.loginThirdParty {
			height: 40%;
			width: 60%;
			margin: 0 auto;
			margin-top: 70px;

			.loginWelcome {
				text-align: center;
				color: white;
			}

			button {
				width: 100%;
				margin-top: 30px;
				height: 50px;
				border-radius: 8px;
				border: none;
				background: #ffffff;
				cursor: pointer;

				.loginButton {
					display: flex;
					align-items: center;
					margin: 0 20px;
					img {
						margin-right: 20px;
						height: 40px;
						width: 40px;
					}
				}
			}
		}

		.loginMiddle {
			width: 60%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.loginLine {
				height: 1px;
				width: 40%;
				background: white;
			}
		}


		.loginLocal {
			width: 60%;
			margin: 0 auto;
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			letter-spacing: 0.06em;

			span {
				text-decoration: underline;
				cursor: pointer;
			}
			.registerSpaceAbove {
				margin-top: 40px;
			}

			input {
				height: 35px;
			}

			.registerPass {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			button {
				height: 50px;
				background: $ruby-enchantment;
				width: 50%;
				margin: 0 auto;
				margin-top: 60px;
				border: none;
				color: white;
				font-size: 20px;
				border-radius: 5px;
				cursor: pointer;
			}
		}
		.loginNoAccount {
			width: 60%;
			margin: 20px auto 0;
			p {
				text-align: center;
			}
		}
	}

	.imgContainer {
		height: 100%;
		width: 80%;
		background-image: url('../assets/AuthPages/building-work-crew-03.jpg');
		background-size: 100%;
		background-position-y: top;
	    mix-blend-mode: luminosity;
	}
}
