.header {
    .cta-container {
        img {
            max-width: 35%;
            scale: both;
        }
        .cta {
            .cta-title {
                color: #4840BA;
            }
            p {

            }
            button {
                background: #4840BA;
                color: #fff;
            }
        }
    }
    .values {
        p {
            margin: 0 auto;
        }
        .value-tiles {

        }
    }
    .application-links-container {
        div {
            .donor {

            }
            .students {

            }
            .employers {

            }
            .img-container {

            }
        }
    }
}
.our-promise {

}