@import '../../styles/variables';
.student-application-form-container {
    // border: 1px solid red;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    .swirly-div {
        border: 1px solid blue;
        width: 50%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        // background-image: url('../assets/StudentApplicationWizard/swirly.png');

        .student-app-steps {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            margin-left: 5%;
            width: 50%;
            h3 {
                color: rgba(255, 255, 255, 0.8)
            }
        }

        .student-app-images {
            border: 1px solid yellow;
            width: 50%;
        }
    }

    .right-div {
        border: 5px solid black;
        width: 50%;
        display: flex;

        .right-div-content {
            width: 500px;
            margin: 0 auto;
            text-align: center;
            margin: auto;

            .title {
                margin-bottom: 60px
            }

            @media #{$tablet} {
                width: 80%;
                h2 {
                    font-size: 2.5rem
                }
            }

            form {
                margin-bottom: 20px;

                h2 {
                    font-size: 3rem;
                    color: white;
                    padding: 25px 0;

                    @media #{$tablet} {
                        font-size: 2rem;
                    }
                }
                
                .welcome-container {
                    background: #4840ba;
                    margin-bottom: 30px
                }
            }

            select {
                color: #4840ba;
                text-align-last:center;
                font-size: 3rem;
                width: 100%;
                padding: 25px 0;
                border-radius: 0;

                @media #{$tablet} {
                    font-size: 2rem;
                }
            }
            option:first-child {
                color: gray
            }

            option {
                color: black
            }

            .radio-form {
                display: flex;
                align-items: baseline;
                text-align: center;
                justify-content: center;

                label {
                    margin-right: 15px;
                    line-height: 32px;
                    font-size: 1.5rem
                }
                  
                input {
                    cursor: pointer;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    padding: 0;
                    
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    
                    border: 2px solid #999;
                    transition: 0.2s all linear;
                    margin-right: 5px;
                    
                    position: relative;
                    top: 4px;
                    }
                    
                    input:checked {
                    border: 6px solid #4840ba;
                    }
            }
            
            
        }
    }
    
}