

.near-you-section {
    .carousel-card-inner.__near-you {
        height: 275px;
        .carousel-card-image {
            justify-content: flex-start;
            .carousel-card-location {
                position: absolute;
                color: $snow-white;
                padding: 10px;
                font-size: 1.4rem;
            }
        }
        .carousel-card-body {
            height: calc(100% - 155px);
            h5 { 
                margin: 0 auto;
            }
            p {
                font-size: 1.4rem;
                margin: 10px auto;
            }
        }
        a {
            color: $chillFi-purple;
            display: flex;
            align-items: flex-end;
            font-size: 1.6rem;
        }
    }
}



.dark-mode {
    .carousel-card {
        .carousel-card-inner.__near-you {
            a {
                color: $maastricht-blue;
            }
        }
    }
}

