.testimonials {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	background-color: #d2405b;
	padding-top: 2.2%;
	height: 568px;
	p {
		position: relative;
		top: 44%;
		right: 10.6%;
		margin: 50px auto;
		min-width: 34%;
		font-family: 'futura-pt';
		font-style: medium;
		font-weight: 500;
		font-size: 40px;
		letter-spacing: 1.5px;
		height: 20%;
		line-height: 1.3;
	}

	.Maleescha {
		position: relative;
		right: 24.7%;
	}
}
