@import '../../../styles/mixins';

.project-spotlight {
	background-color: $luigi;
	height: 790px;
	@media #{$mobile} {
		flex-direction: column;
		height: 100%;
	}
	.section-title {
		margin-left: 55px;
		padding-top: 45px;
		font-size: 48px;
		line-height: 152.31%;
		letter-spacing: 0.06em;
		font-weight: 500;
	}
	.project-spotlight-content{
	display: flex;
	justify-content: space-between;
	
	.phoneContainer {
		width: 32%;
		word-wrap: nowrap;
		
		
	
			@media #{$mobile} {
				font-size: 27px;
				line-height: 152.31%;
				margin-left: 0;
				margin: 0 auto;
				width: 85%;
			}
		
		@media #{$mobile} {
			width: 100%
		}
	}
	.phone {
		position: relative;
		margin-top: 150px;
		height: 93%;
		object-fit: scale-down;
		@media #{$mobile} {
			display: none
		}
	}
	.phone-left {
		width: 100%;
	}
	.user-story {
		max-width: 32%;
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;
		margin-bottom: 240px;
		margin-top: -50px;

		@media #{$mobile} {
			max-width: 100%;
			width: 85%;
			margin: 0 auto
		}
		.user-photo {
			width: 50%;
			max-width: 375px;
			height: 78%;
			object-fit: contain;
			margin: 0 auto;

			@media #{$mobile} {
				margin: 0 auto;
			}
		}
		.user-info {
			font-size: 42px;
			margin: -3% auto 0 auto;
			line-height: 48px;
			letter-spacing: 0.05em;

			@media #{$mobile} {
				margin: 40px auto 0 auto;
				font-size: 25px;
				line-height: 190.31%;
				text-align: center;
				font-weight: bold;
			}
		}
		p {
			margin: 5% auto 5% auto;
			letter-spacing: 0.06em;
			line-height: 180%;
			font-size: 15px;
			font-weight: bold;
			position: relative;

			@media #{$mobile} {
				font-size: 16px;
				line-height: 190.31%;
				left: 0;
				margin: 20px auto;
				text-align: left
			}
		}
	}
	.phone-right {
		width: 100%;
	}
}
}

.dark-mode {
	.project-spotlight {
		background-color: $police-blue;
	}
}

