.trending-trades {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: -8% auto auto auto;
	clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
	background-color: $saphire-mox;
	padding-top: 13%;
	h2 {
		color: $snow-white;
		margin: 0 auto;
		position: relative;
		left: 18%;
		top: 10%;
	}
	.card {
		max-width: 48%;
		max-height: 50%;
		margin: 0 auto;
		color: $snow-white;
		margin-bottom: 3%;
		&:hover {
			color: black;
		}
		img {
			object-fit: contain;
			max-width: 65%;
			margin: auto auto 0.5%;
		}
		h4 {
			margin: 1% auto;
		}
		p {
			margin-top: 1%;
		}
	}
}
