.donateContainer {
    max-width: 685px;
    box-shadow: 0px 0px 8px #EEEDEF;
    margin: 0 0 auto auto;
    @media #{$mobile} {
        // height: 440px;
        border: 1px solid blue;
        margin-top: -1430px;
        margin-bottom: 930px
    }
    .donateInnerDiv {
        max-width: 630px;
        margin-left: 48px;
        

        .apply-button { 
            max-width: 515px;
            margin-bottom: 44px;

            @media #{$mobile} {
                width: 93%; 
                margin-bottom: 20px;
            }

            button {
                font-size: 24px;
                line-height: 32px;
                background:  #285FD7;;
                height: 77px;
                border-radius: 5px;
                color: #FFFFFF;
                letter-spacing: 0.06em;
                margin:40px 0 24px 0;
                border: none;
                cursor: pointer;
                width: 100%;

                @media #{$mobile} {
                    height: 51px;
                    margin: 18px 0 13px 0;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 30px;
                } 
            }
                
            
        }
        @media #{$mobile} {
            margin-left: 5.5%;;
        }

        .donationMoney {
            margin-bottom: 30px;
            margin-top: 40px;
            @media #{$mobile} {
                width: 90%;
                margin-top: 17px;
                margin-bottom: 23px;
            }
        }
        p{
            color: #0B096F;
            .large {
                line-height: 72px;
                font-size: 52px;
                letter-spacing: 0.06em;
                margin-right: 20px;

                @media #{$mobile} {
                    font-size: 24px;
                    line-height: 154.81%;
                    margin-right: 3px;
                    width: 90%
                }
                
            }

            .small {
                font-size: 1.4rem; 

                @media #{$mobile} {
                    font-size: 16px;
                    line-height: 100%;
                    width: 90%
                }
            }
        }

        .progressBar {
            max-width: 515px;
            height: 12px;
            background: #EBE7FD;
            border-radius: 50px;
            margin-bottom: 16px;
            border: 1px solid $snow-white;
            div {
                height: 12px;
                background: #0B096F;
                border-radius: 50px;
            }

            @media #{$mobile} {
                width: 93%;
                margin-bottom: 10px;
            }
        }

        .donatorCount {
            letter-spacing: 0.06em;
            line-height: 32px;
            font-size: 24px;
            margin-bottom: 6px;
            @media #{$mobile} {
                font-size: 14px;
                line-height: 19px;
            }
        }

        .donorText {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.06em;
            color: #969696;

            @media #{$mobile} {
                font-size: 14px;
                line-height: 19px;
            }
        }
        

        .donationButtons {
            display: flex;
            flex-direction: column;
            max-width: 515px;
            margin-bottom: 44px;
            

            @media #{$mobile} {
                width: 93%;
                
                margin-bottom: 30px;
            }
            
            .purple {
                font-size: 24px;
                line-height: 32px;
                background: #544CBE;
                height: 77px;
                border-radius: 5px;
                color: #FFFFFF;
                letter-spacing: 0.06em;
                margin:40px 0 24px 0;
                border: none;
                cursor: pointer;

                @media #{$mobile} {
                    height: 51px;
                    margin: 18px 0 13px 0;
                    font-size: 18px;
                    line-height: 24px;
                } 
            }

            .white {
                font-size: 24px;
                line-height: 32px;
                background: #FFFFFF;
                height: 77px;
                border-radius: 5px;
                color: #544CBE;
                letter-spacing: 0.06em;
                border: 1.2px solid #544CBE;
                cursor: pointer;

                @media #{$mobile} {
                    height: 51px;
                    font-size: 18px;
                    line-height: 24px;
                } 
            }
        }

        .lastText {
            max-width: 585px;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.06em; 

            @media #{$mobile} {
                display: none
            }
        }
        
    }
    
}