.donateContainer {
    max-width: 685px;
    box-shadow: 0px 0px 8px #EEEDEF;
    margin: 0 0 auto auto;
    @media #{$mobile} {
        border: 1px solid blue;
        margin: 0;
    }
    .donateInnerDiv {
        max-width: 630px;
        margin-left: 48px;
        
        .mid-line-container {
            
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
            align-items: center;
            
            p {
                font-size: 18px;
                line-height: 212.81%;
                letter-spacing: 0.06em;
                color: rgba(48, 48, 48, 0.3);
                margin-top: -5px
            }

            .mid-line {
                border: 1px solid rgba(0, 0, 0, 0.3);
                transform: rotate(180deg);
                height: 1px;
                width: 45%
            }
        }

        .apply-button { 
            max-width: 515px;
            margin-bottom: 44px;

            @media #{$mobile} {
                width: 93%; 
                margin-bottom: 20px;
            }

            button {
                font-size: 24px;
                line-height: 32px;
                background:  #285FD7;;
                height: 77px;
                border-radius: 5px;
                color: #FFFFFF;
                letter-spacing: 0.06em;
                margin:40px 0 24px 0;
                border: none;
                cursor: pointer;
                width: 100%;

                @media #{$mobile} {
                    height: 51px;
                    margin: 18px 0 13px 0;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 30px;
                } 
            }
                
            
        }
        @media #{$mobile} {
            margin-left: 5.5%;;
        }

        .donationMoney {
            margin-bottom: 30px;
            margin-top: 40px;
            @media #{$mobile} {
                width: 90%;
                margin-top: 17px;
                margin-bottom: 23px;
            }
        }
        p{
            color: #0B096F;
            .large {
                line-height: 72px;
                font-size: 52px;
                letter-spacing: 0.06em;
                margin-right: 20px;

                @media #{$mobile} {
                    font-size: 24px;
                    line-height: 154.81%;
                    margin-right: 3px;
                    width: 90%
                }
                
            }

            .small {
                font-size: 1.4rem; 

                @media #{$mobile} {
                    font-size: 16px;
                    line-height: 100%;
                    width: 90%
                }
            }
        }

        .progress-bar {
            max-width: 515px;
            height: 14px;
            background: #EBE7FD;
            border-radius: 50px;
            margin-bottom: 16px;
            border: 1px solid $snow-white;

            


            // div {
            //     height: 12px;
            //     background: #0B096F;
            //     border-radius: 50px;
            // }

            @media #{$mobile} {
                width: 93%;
                margin-bottom: 10px;
            }
        }

        .donatorCount {
            letter-spacing: 0.06em;
            line-height: 32px;
            font-size: 24px;
            margin-bottom: 6px;
            @media #{$mobile} {
                font-size: 14px;
                line-height: 19px;
            }
        }

        .donorText {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.06em;
            color: #969696;

            @media #{$mobile} {
                font-size: 14px;
                line-height: 19px;
            }
        }
        

        .donationButtons {
            display: flex;
            flex-direction: column;
            max-width: 515px;
            margin-bottom: 44px;
            

            @media #{$mobile} {
                width: 93%;
                
                margin-bottom: 30px;
            }
            
            .purple {
                font-size: 24px;
                line-height: 32px;
                background: #544CBE;
                height: 77px;
                border-radius: 5px;
                color: #FFFFFF;
                letter-spacing: 0.06em;
                margin:40px 0 24px 0;
                border: none;
                cursor: pointer;

                @media #{$mobile} {
                    height: 51px;
                    margin: 18px 0 13px 0;
                    font-size: 18px;
                    line-height: 24px;
                } 
            }

            .white {
                font-size: 24px;
                line-height: 32px;
                background: #FFFFFF;
                height: 77px;
                border-radius: 5px;
                color: #544CBE;
                letter-spacing: 0.06em;
                border: 1.2px solid #544CBE;
                cursor: pointer;

                @media #{$mobile} {
                    height: 51px;
                    font-size: 18px;
                    line-height: 24px;
                } 
            }
        }

        .lastText {
            max-width: 585px;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.06em; 

            @media #{$mobile} {
                display: none
            }
        }
        
    }












      $brand-default: #B0BEC5;
      $brand-primary: #2196F3;
      $brand-secondary: #323a45;
      $brand-success: #64DD17;
      $brand-warning: #FFD600;
      $brand-info:  #29B6F6;
      $brand-danger: #ef1c1c;
      $bg-light-gray: #f5f5f5;
      
      .progress-bar {
        background-color: $brand-primary;
        box-shadow:none;
        &.text-left{
          text-align: left;
          span{
            margin-left: 10px;
          }
        }
        &.text-right{
          text-align: right;
          span{
            margin-right: 10px;
          }
        }
      }
    //   @mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    //     background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    //     background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    //     background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    //   }
      
    //   @keyframes progress-bar-stripes {
    //     from  { background-position: 40px 0; }
    //     to    { background-position: 0 0; }
    //   }
      
    //   Spec and IE10+
    //   @keyframes progress-bar-stripes {
    //     from  { background-position: 40px 0; }
    //     to    { background-position: 0 0; }
    //   }
      
    //   @mixin animation($animation) {
    //     -webkit-animation: $animation;
    //          -o-animation: $animation;
    //             animation: $animation;
    //   }
    //  .progress-bar div {
    //     @include animation(progress-bar-stripes 2s linear infinite);
    //   }
    //   .progress-bar div
    //    {
    //     @include gradient-striped;
    //     background-size: 40px 40px;
    //   }
    //   @mixin progress-bar-variant($color) {
    //     background-color: $color;
    //   }








    //   .progress-bar div {
    //     margin: 4px;
    //     height: 20px;
    //     /*should not be larger than 20px*/
    //     position: relative;
    //     // background: linear-gradient(90deg, #eee 50%, transparent 50%);
    //     // background-color: crimson;
    //     background-size: 200%;
    //     background-position: 80%;
    //     border-radius: 5px;
    //     // transform: scale(-1);
    //     // transition: 0.3s;
    //   }
      
      .progress-bar div:before {
        // content: "";
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // border-radius: 5px;
        // background: linear-gradient(
        //   45deg,
        //   transparent 25%,
        //   rgba(238, 238, 238, 0.5) 25%,
        //   rgba(238, 238, 238, 0.5) 30%,
        //   transparent 30%,
        //   transparent 35%,
        //   rgba(238, 238, 238, 0.5) 35%,
        //   rgba(238, 238, 238, 0.5) 70%,
        //   transparent 70%
        // );
        // animation: shift 2s linear infinite;
        // background-size: 60px 100%;
        // box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2),
        //   inset 0 -2px 1px rgba(0, 0, 0, 0.2);
      }
      
    //   @keyframes shift {
    //     to {
    //       background-position: 60px 100%;
    //     }
    //   }
}